- var asideCategories = ['מדריך בצק שמרים', 'מדריך בצק פריך', 'מדריך בצק פילו', 'מדריך בשר בקר', 'מדריך דגים', 'כל המדריכים']

aside.aside.aside--start

	.aside__part.aside_subscribe
		.aside__title רוצה לקבל מתכונים למייל?
		.aside__main
			form.form
				.form__control.form__control--subscribe
					input(type="text" placeholder="שם").form__input.form__input--subscribe
				.form__control.form__control--subscribe
					input(type="email" required placeholder="*מייל").form__input.form__input--subscribe
				.form__control.form__control--subscribe-submit
					button(type="submit").form__submit.form__submit--subscribe.btn.btn--image-small שליחה
						svg.svg.svg--btn
							use(xlink:href="#button")

	.aside__part.aside_notebook
		.aside_notebook__icon
			img(src="img/svg/icon_book.svg")
		.aside_notebook__title מחברת המתכונים
		.aside_notebook__text כנסו למחברת שלכם <br>לצפות במתכונים שהוספתם
		a(href=NULL).aside_notebook__link.btn.btn--image-small כניסה
			svg.svg--btn
				use(xlink:href="#button")

	.aside__part.aside_resipes
		.aside__title.aside__title--recipes עוד מתכונים
		.aside__main
			
			.tabs.tabs--slider.tabs-js
				
				ul.aside_resipes__list

					-for (var i = 0; i < 3; i++)
						li
							a(href="#" + aside__category_id[i]).btn.btn--image-little!= aside__category[i]
								svg.svg.svg--btn
									use(xlink:href="#button")

				-for (var j = 0; j < 3; j++)

					.aside-slider.js-aside-slider(id=aside__category_id[j])
						
						-for(var i=0; i<3; i++)
							.aside-slider__slide
								.aside-slider__slide-img.js-img
									img(src="img/cat-"+j+".png")
								.aside-slider__slide-title מיני פנקייקס מיוגורט

	.aside__part.aside_ads.js-img
		img(src="img/film.png")

	.aside__part.aside_recommended
		.aside__title.aside__title--recommended מוצרים מומלצים
		.aside__main
			.aside_recommended__image.js-img
				img(src="img/mixer.png")
			a(href=NULL).aside_recommended__link ממרח השחר העולה בשפופרת לחיצה ניסיתי, שווה!

	.aside__part.aside_video
		.aside__title.aside__title--video כותרת מתאימה
		.aside__main
			.aside_video__src
				iframe(width="264" height="199" src="https://www.youtube.com/embed/jPOxWOE-3Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

	.aside__part.aside_directory
		.aside__title.aside__title--directory מדריכים מומלצים
		.aside__main
			ul.aside_directory__list
				-for(var i=0; i<6; i++)
					li.aside_directory__item
						a(href=NULL)!= asideCategories[i]

	.aside__part.aside_translate
		.aside__title.aside__title--translate Translate
		form.form.form--translate
			.form__control.form__control--no-margins
				select.form__select.select-js
					option(value="Hebrew").form__option.form__option--hebrew Hebrew
					option(value="English").form__option.form__option--english English