.section.section--banner(style="background-image: url('./img/banner.png')")
	.container
		.banner.banner--header
			.banner__logo
				img(src="img/logo.gif").banner__logo-img
			.banner__search
				form.form.form--search
					.form__control
						input(type="text" placeholder="חפשו מתכונים, טיפים ומדריכים").form__input.form__input--search
						button(type="submit").btn.btn--search
							img(src="img/search.png")
							img(src="img/search_hov.png").hover