.section.section.section--sliderbanner
	.banner.banner--resipe

		.banner_resipe__end
			.banner-slider.js-banner-slider
				- for( var i = 0; i < 5; i++ )
					.banner-slider__slide
						.banner-slider__slide-contain(style="background-image: url(img/post-slide.png)")
							img.banner-slider__slide-img(src="img/post-slide.png" alt="")
							.banner-slider__caption.js-blog-slider-caption כיתוב על התמונה לפי הצורך לא תמיד יופיע
		
		.banner_resipe__start
			.banner_resipe__tag בריא ודיאטטי
			.banner_resipe__content
				.banner_resipe__title מקלות בצק עלים במילוי גבינה
				.banner_resipe__text 
					p מתכון למקלות בצק עלים במילוי גבינה. תוספת מעולה לארוחה חלבית ולחג שבועות. 
					p ניתן גם להגיש לצד סלט עלים לקבלת ארוחת ערב קלילה 
					p וטעימה.
				.banner_resipe__hashtag ארוחות ערב  # ראשונות  # בצק #
				.banner_resipe__data
					.banner_resipe__avatar.js-img
						img(src="img/testimonial.png")
					.banner_resipe__date מאת: אפרת סיאצ'י , 29 אוגוסט 2018