section.section.section--gray.section--info
	.container
		.banner.banner--info
			.banner__content.banner__content--info
				h3.banner__title.banner__title--label עוף ובשר
					img(src="img/title.png").banner__title_label
				.banner__text.hide-md מבחר מתכונים לעוף, פרגיות או חזה עוף מהירים וטעימים שניתן להגיש כמנה עיקרית באירוח או להכין לארוחת צהריים מהירה: ארוחות בסיר אחד, גרסאות לעוף בתנור או מבושל וגם קציצות מטוגנות או אפויות. בנוסף תמצאו מתכון עוף טחון שילדים אוהבים ומגוון מתכוני בשר טחון טעימים וקלים להכנה שניתן להכין כמילוי או להגיש כמנה בפני עצמה.