section.section.section--offer(style="background-image: url('./img/footer.png');")
	.container
		.banner.banner--offer
			.banner__content.banner__content--offer
				.banner__start
					img(src="img/books.png")
				.banner__end
					h3.banner__title את חוברות המתכונים שלנו יש לכם?
					a(href=NULL).banner__btn.btn.btn--image כנסו לחנות
						svg.svg--btn
							use(xlink:href="#button")