
.content.content--madrich
	.resipes
		.resipes__header
			.resipes__header-col
				p זמן הכנה
					span 10 דק’
			.resipes__header-col
				p זמן בישול/אפייה
					span 5 דק’
			.resipes__header-col
				p מס’ מנות
					span 8-10
			.resipes__header-col
				p סוג
					span חלבי וצמחוני ללא גלוטן
		.resipes__share
			.resipes__share-start
				img(src="img/icons/face.png")
				| 8 גולשים הכינו ואהבו
			.resipes__share-end
				.share.share--gallery
					a(href=NULL).share__item.share__item--gallery
						.share__img_wrap.share__img_wrap--gallery
							img(src="img/icons/face.png").share__img
							img(src="img/icons/face-h.png").share__img.share__img--hover
					a(href=NULL).share__item.share__item--gallery
						.share__img_wrap.share__img_wrap--gallery
							img(src="img/icons/heart.png").share__img
							img(src="img/icons/heart-h.png").share__img.share__img--hover
						.share__title.share__title--hover הוספה למחברת
							svg.svg--title
								use(xlink:href="#button")
					a(href=NULL onclick="window.print();").share__item.share__item--gallery
						.share__img_wrap.share__img_wrap--gallery
							img(src="img/icons/print.png").share__img
							img(src="img/icons/print-h.png").share__img.share__img--hover
					a(href=NULL data-remodal-target="share").share__item.share__item--gallery
						.share__img_wrap.share__img_wrap--gallery
							img(src="img/icons/share.png").share__img
							img(src="img/icons/share-h.png").share__img.share__img--hover

		.resipes__content
			h4 רכיבים
			ul
				li
					strong כוס  
					| דחוסה גבינה צהובה מגורדת (כ-120 גרם)
				li
					strong 2 כפות  
					| גבינה בולגרית, רצוי רכה (כ-40 גרם)  
					i *אפשר להמיר במוצרלה מגורדת
				li 
					strong 2 כפות  
					| גבינה לבנה
				li
					strong חצי כפית  
					| מלח
				li
					strong לציפוי:  
					| ביצה טרופה, שומשום ו/או קצח
			a(href=NULL) לא בטוחים באיזה כוס להשתמש? לחצו כאן
			.banner.banner--ads-wide
				img(src="img/ads_wide.png" alt="ads")
			h4 אופן ההכנה
			p 1. פורסים את בצק העלים על משטח עבודה וחותכים למלבנית בגודל 8X5 ס"מ.
			//- .timer
				.timer__btn.js-timer-btn  הפעל טיימר (5 דק’)
				.timer__body
					.timer__title טיימר פועל
					.timer__counter.timer-js(data-minutes="5")
					.timer__timeline
					.timer__play#play
					.timer__pause#pause

			+timer({hours: 0, minutes: 5, seconds: 0}, "הפעל טיימר (5 דק’)", "טיימר פועל")

			p 2. מניחים במרכז כל מלבן (לאורך) מתערובת הגבינה <br>(חשוב לא להעמיס בתערובת אחרת המקלות עלולים להפתח באפיה).
			
			+timer({minutes: 15}, "הפעל טיימר (15 דק’)", "טיימר פועל")

			p 3. מניחים את המקלות על תבנית מרופדת בנייר אפיה כאשר הצד אותו הידקנו נמצא כלפי מטה. <br>מברישים בביצה טרופה ומפזרים שומשום ו/או קצח. <br><br> 4. מכניסים לתנור שחומם מראש על 200 מעלות במשך 15-20 דקות, עד להזהבה יפה.
			h4 טיפים והערות
			p פורסים את בצק העלים על משטח עבודה וחותכים למלבנית בגודל 8X5 ס"מ <br> פורסים את בצק העלים על משטח עבודה וחותכים.
	include section__share__resipes.jade
	.after_post
		.after_post__title ראו גם <br>
		a(href=NULL) איך ממסיסים ג’לטין   
		| |  
		a(href=NULL) צבעי מאכל מסוכנים
		.after_post__category מדריך זה שייך לאוסף: 
			a(href=NULL) מדריכים	
	.post-navigation
		.post-previous
			a(href=NULL)
				img(src="img/svg/arrow_right.svg")
				| כדורי שוקולד ליומולדת
		.post-next
			a(href=NULL) שניצל תירס של סבתא
				img(src="img/svg/arrow_left.svg")

	.hide-md
		include section__guides.jade
	
	.show-md
		include section__after_content.jade

	include section__comments.jade