.content.content--madrich
	.post
		h2.h2.h2--pink.h2--state איך להמיס שוקולד?
		.post__data
			.post__data-avatar.js-img
				img(src="img/testimonial.png")
			.post__data-name מאת: אפרת סיאצ'י ,
			.post__data-date 29 אוגוסט 2018
		.post__subtitle שוקולד מומס מתאים לציפוי של עוגיות, כדורי שוקולד או עוגות, לרטבים, לטבילה של פירות ולעוד מגוון של רעיונות יצירתיים מתוקים. השאלה- באלו דרכים ניתן להמיס שוקולד?
		.post__gallery
			.slider.slider--post.gallery_slider-js
				- for( var i = 0; i < 5; i++ ) {
					.post__gallery-slider__slide
						.post__gallery-slider__slide-contain(style="background-image: url(img/post-slide.png)")
							img(src="img/post-slide.png").slide__image.slide__image--gallery
							.slide__title.slide__title--caption כיתוב על התמונה לפי הצורך לא תמיד יופיע
				-}

		.post__share
			.share.share--gallery
				a(href=NULL).share__item.share__item--gallery
					.share__img_wrap.share__img_wrap--gallery
						img(src="img/icons/face.png").share__img
						img(src="img/icons/face-h.png").share__img.share__img--hover
				a(href=NULL).share__item.share__item--gallery
					.share__img_wrap.share__img_wrap--gallery
						img(src="img/icons/heart.png").share__img
						img(src="img/icons/heart-h.png").share__img.share__img--hover
					.share__title.share__title--hover הוספה למחברת
						svg.svg--title
							use(xlink:href="#button")
				a(href=NULL onclick="window.print();").share__item.share__item--gallery
					.share__img_wrap.share__img_wrap--gallery
						img(src="img/icons/print.png").share__img
						img(src="img/icons/print-h.png").share__img.share__img--hover
				a(href=NULL data-remodal-target="share").share__item.share__item--gallery
					.share__img_wrap.share__img_wrap--gallery
						img(src="img/icons/share.png").share__img
						img(src="img/icons/share-h.png").share__img.share__img--hover

		.post__text
			p
				strong שוקולד מומס על בן מארי <br>
				| זו היא כביכול השיטה המסורתית להמסה, בה עושים שימוש קונדיטורים מקצועיים. היא נחשבת ליעילה שכן המסת השוקולד בצורה כזו מאפשרת מצד אחד בקרה טובה על התהליך ומצד שני עוזרת לנו לשמור על הטמפרטורה המאוזנת שמבטיחה מרקם מושלם. <br>בכדי להמיס שוקולד בשיטת בן מארי הניחו סיר עם 2 כוסות מים רותחים על אש בינונית. מעל הקערה הניחו קערה עמידה בפני חום ובתוכה את קוביות השוקולד. וודאו שהקערה איננה נוגעת בתחתית הסיר. ערבבו את הקוביות לאט ובעדינות עד להמסה מלאה (מומלץ עם מרית סיליקון). הסירו את הקערה מהסיר עם המים ונגבו בעדינות את האדים. <br>
			p
				strong המסת שוקולד במיקרוגל <br>
				|בשונה משיטות אחרות, זו אולי השיטה שגורמת להכי פחות לכלוך ובלאגן במטבח. כל מה שצריך זה לקצוץ את השוקולד ולהניח בקערה שמתאימה לחימום מהסוג הזה. מכניסים את השוקולד למיקרוגל למשך 20-30 שניות ומוציאים. מערבבים עם מרית סיליקון ומחזירים לסיבוב נוסף של כ-20 שניות. חוזרים על הפעולה עד שהשוקולד מומס לחלוטין. הקפידו על הפולסים הקצרים, זה ימנע מהשוקולד שלכם להישרף. <br>
			p
				strong המסת שוקולד בתנור <br>
				|אם אין לכם כיריים, תנור יכול להוות חלופה אופטימלית. כל מה שאתם צריכים לעשות זה לקצוץ את השוקולד ולהניח אותו בקערה עמידה לאש. מדליקים את התנור ומניחים את הקערה עליו. את השוקולד מערבבים עד להמסה מוחלטת וקבלת מרקם חלק. <br>
			p
				strong דגשים חשובים להמסת שוקולד  <br>
				|בחרו בשוקולד איכותי וטוב עם אחוז גבוה של מוצקי קקאו. <br>תהליך המסת שוקולד דורש סבלנות ויש לבצע אותו בהדרגיות ובאיטיות, מבלי להוריד את העיניים ממנו. <br> המסת שוקולד על מחבת איננה מומלצת שכן המחבת תעניק לו טעם שרוף. <br> אל תעשו שימוש בכלים רטובים שכן המים יהרסו את כל תהליך ההמסה.
	include section__share__post.jade
	.after_post
		.after_post__title ראו גם <br>
		a(href=NULL) איך ממסיסים ג’לטין   
		| |  
		a(href=NULL) צבעי מאכל מסוכנים
		.after_post__category מדריך זה שייך לאוסף: 
			a(href=NULL) מדריכים

	include section__guides.jade
	.show-md
		include section__after_post.jade
	include section__comments.jade

