//- include ../var.jade
header.header.header--page-inner

	.header__bg.header__bg--page-inner

		.header__top-wrap
			.container.container--header-inner
				.header__top
					.header__top-start
						.header__expand.header__expand--open
							span.header__expand-span
						.header__top-admin.hide-md
							.header__top-icon.js-img
								img(src="img/avatar.png")
							a(href=NULL).header__top-button שלום ישראל ישראלי  
							span |
							a(href=NULL).header__top-button  יציאה
					a(href="/").header__top-center
						img(src="img/svg/logo.svg").header__logo
					.header__top-end
						a(href=NULL).header__top-link  מתכון לחיים
						a(href=NULL data-remodal-target="search").header__top-search_link
							img(src="img/search_white.png")
							img(src="img/search_hov.png").hover

		.header__main-wrap
			.header__main
				.header__main-top.show-md
					.header__expand.header__expand--close
						span.header__expand-span
					a(href=NULL data-remodal-target="search").header__search-button חיפוש
						img(src="img/search_white.png")
						img(src="img/search_hov.png").hover
				.header__main-logo.hide-md
					img(src="img/svg/logo.svg")
				.header__top-admin.show-md
					.header__top-icon.js-img
						img(src="img/svg/icon_user.svg")
					a(href="javascript:void(0)").header__top-link התחברות/הרשמה
				nav.header__nav
					ul.header__ul
						-for(var i=0; i<7; i++)
							if(i!=6 && i!=1)
								li.header__item
									a(href=nav_links[i] data-text=nav[i]).header__link!= nav[i]
							
							if(i==1)
								li.header__item.menu-item-has-children
									a(href=nav_links[i] data-text=nav[i]).header__link!= nav[i]
									.dropdown__wrap
										.container
											.dropdown__menu

												.dropdown__menu-col
													.dropdown__menu-title כללי
													ul.dropdown__menu-list
														-for(var j=0; j<9; j++)
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_1[j]).dropdown__menu-link!= dd_menu_1[j]

												.dropdown__menu-col
													.dropdown__menu-title ארוחות
													ul.dropdown__menu-list
														-for(var j=0; j<4; j++)
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_2[j]).dropdown__menu-link!= dd_menu_2[j]

												.dropdown__menu-col
													.dropdown__menu-title תזונה/דיאטה
													ul.dropdown__menu-list
														-for(var j=0; j<8; j++)
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_3[j]).dropdown__menu-link!= dd_menu_3[j]

												.dropdown__menu-col
													.dropdown__menu-title אוספי מתכונים
													ul.dropdown__menu-list
														-for(var j=0; j<7; j++)
															if(j!=2)
																li.dropdown__menu-item
																	a(href=NULL data-text=dd_menu_4[j]).dropdown__menu-link!= dd_menu_4[j]
															if(j==2)
																li.dropdown__menu-item.dropdown__menu-item--new
																	a(href=NULL data-text=dd_menu_4[j]).dropdown__menu-link!= dd_menu_4[j]

												.dropdown__menu-col
													.dropdown__menu-title מיוחדים
													ul.dropdown__menu-list
														-for(var j=0; j<5; j++)
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_5[j]).dropdown__menu-link!= dd_menu_5[j]

											.dropdown__footer
												a(href=NULL) ההרשמה לסדנת בישול מהיר החלה. לפרטים לחצו כאן >>

							if(i==6)
								li.header__item.bold
									a(href=nav_links[i] data-text=nav[i]).header__link!= nav[i]

				.header__main-search.hide-md
					form.form.form--headersearch
						.form__control
							input(type="text" placeholder="חפשו מתכונים, טיפים ומדריכים").form__input.form__input--headersearch
							button(type="submit").btn.btn--search-small
								img(src="img/search.png")
								img(src="img/search_hov.png").hover
				.header__main-footer
					a(href=NULL) יצירת קשר
					a(href=NULL) בלוג מתכון לחיים
					ul.header__social
						li.header__social-item
							a(href=NULL).header__social-link
								i.fa.fa-facebook
						li.header__social-item
							a(href=NULL).header__social-link
								i.fa.fa-instagram
						li.header__social-item
							a(href=NULL).header__social-link
								i.fa.fa-youtube

	.header__bottom.hide-md

		.container
		
			.header__search.header__search--overlay
				
				.header-search.ui-front

					.header-search__form
						form.form.form--headersearch
							.form__control.form__control--inner-search
								input(type="text" placeholder="חפשו מתכונים, טיפים ומדריכים").form__input.form__input--headersearch.js-search-inner
								button(type="submit").btn.btn--search-small
									img(src="img/search.png")
									img(src="img/search_hov.png").hover

					.header-search__results.js-header-search-results
						.autocomplete-menu
							.autocomplete-menu__parts

								.autocomplete-menu__part.autocomplete-menu__part--results
									.js-search-results

								.autocomplete-menu__part.autocomplete-menu__part--placeholder
									.autocomplete-menu__placeholder.js-search-results-placeholder

							.autocomplete-menu__bottom
								a(href="#").autocomplete-menu__link לכל התוצאות