include ../var.jade
header.header
	
	.header__bg

		.header__top-wrap
			.container.container--header
				.header__top
					.header__top-start
						.header__expand.header__expand--open
							span.header__expand-span
						.header__top-admin.hide-md
							.header__top-icon.js-img
								img(src="img/svg/icon_user.svg")
							a(href="javascript:void(0)").header__top-link התחברות/הרשמה
					.header__top-end
						a(href="javascript:void(0)").header__top-link  מתכון לחיים

		.header__main-wrap
			.header__main
				.header__main-top.show-md
					.header__expand.header__expand--close
						span.header__expand-span
					a(href=NULL data-remodal-target="search").header__search-button חיפוש
						img(src="img/search_white.png")
						img(src="img/search_hov.png").hover
				.header__top-admin.show-md
					.header__top-icon.js-img
						img(src="img/svg/icon_user.svg")
					a(href="javascript:void(0)").header__top-link התחברות/הרשמה
				.header__main-logo
					img(src="img/svg/logo.svg")
				nav.header__nav
					ul.header__ul
						-for(var i=0; i<7; i++){
							if(i!=6 && i!=1)
								li.header__item
									a(href=nav_links[i] data-text=nav[i]).header__link!= nav[i]
							-if(i==1){
								li.header__item.menu-item-has-children
									a(href=nav_links[i] data-text=nav[i]).header__link!= nav[i]
									.dropdown__wrap
										.container
											.dropdown__menu
												.dropdown__menu-col
													a(href=NULL).dropdown__menu-title.menu-item-has-children כללי
													ul.dropdown__menu-list
														-for(var j=0; j<9; j++){
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_1[j]).dropdown__menu-link!= dd_menu_1[j]
														-}
												.dropdown__menu-col
													a(href=NULL).dropdown__menu-title.menu-item-has-children ארוחות
													ul.dropdown__menu-list
														-for(var j=0; j<4; j++){
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_2[j]).dropdown__menu-link!= dd_menu_2[j]
														-}
												.dropdown__menu-col
													a(href=NULL).dropdown__menu-title.menu-item-has-children תזונה/דיאטה
													ul.dropdown__menu-list
														-for(var j=0; j<8; j++){
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_3[j]).dropdown__menu-link!= dd_menu_3[j]
														-}
												.dropdown__menu-col
													a(href=NULL).dropdown__menu-title.menu-item-has-children אוספי מתכונים
													ul.dropdown__menu-list
														-for(var j=0; j<7; j++){
															if(j!=2)
																li.dropdown__menu-item
																	a(href=NULL data-text=dd_menu_4[j]).dropdown__menu-link!= dd_menu_4[j]
															if(j==2)
																li.dropdown__menu-item.dropdown__menu-item--new
																	a(href=NULL data-text=dd_menu_4[j]).dropdown__menu-link!= dd_menu_4[j]
														-}
												.dropdown__menu-col
													a(href=NULL).dropdown__menu-title.menu-item-has-children מיוחדים
													ul.dropdown__menu-list
														-for(var j=0; j<5; j++){
															li.dropdown__menu-item
																a(href=NULL data-text=dd_menu_5[j]).dropdown__menu-link!= dd_menu_5[j]
														-}
											.dropdown__footer
												a(href=NULL) ההרשמה לסדנת בישול מהיר החלה. לפרטים לחצו כאן >>
							-}

							if(i==6)
								li.header__item.bold
									a(href=nav_links[i] data-text=nav[i]).header__link!= nav[i]
						-}
				.header__main-search
					form.form.form--headersearch
						.form__control
							input(type="text" placeholder="חפשו מתכונים, טיפים ומדריכים").form__input.form__input--headersearch
							button(type="submit").btn.btn--search-small
								img(src="img/search.png")
								img(src="img/search_hov.png").hover
				.header__main-footer
					a(href=NULL) יצירת קשר
					a(href=NULL) בלוג מתכון לחיים
					ul.header__social
						li.header__social-item
							a(href=NULL).header__social-link
								i.fa.fa-facebook
						li.header__social-item
							a(href=NULL).header__social-link
								i.fa.fa-instagram
						li.header__social-item
							a(href=NULL).header__social-link
								i.fa.fa-youtube
