section.section.section--gray.section--recommended
	.container.container--wide
		.title.title--black.title--lines
			h2.h2.h2--gray.h2--primary מדריכים וטיפים מומלצים
			.line
	.container
		.recommended
			-for(var i=0; i<4; i++){
				a(href=NULL).recommended__item.js-img
					img(src="img/guide-"+i+".png").recommended__image
					.recommended__title!= guides[i]
						img(src="img/svg/strip_name_matcon_madrich.svg").recommended__background
					svg.recommended__corner.svg.svg--darkpink
						use(xlink:href="#corner")
			-}
		a(href=NULL).btn.btn--primary.recommended__more כל המדריכים והטיפים
