section.section.section--slider-recommended
	.container.container--wide
		.title.title--black.title--lines
			h2.h2.h2--primary מתכונים פופולאריים
			.line
	.container.container--slider
		.new
			.slider.slider--new.slider-js
				-for(var i=0; i<5; i++){
					a(href=NULL).slide.slide--new
						svg(class="slide__bg slide__bg--new svg svg--"+new_color[i])
							use(xlink:href="#circle")
						.slide__image-wrap.slide__image-wrap--new.js-img
							img(src="img/new-"+i+".png").slide__image.slide__image--new
						.slide__title.slide__title--new!= new_slider[i]
				-}