section.section.section--category
	.container.container--wide
		.title.title--black.title--lines
			h2.h2.h2--primary
				span.hide-md מתכונים ב-10 דקות - 
				| מתכונים קלים, מהירים וטעימים
			.line
	.container
		.category__tabs.tabs-js
			ul.tabs__list.tabs__list--categories
				-for(var i=0; i<8; i++){
					li(class= i>2 ? "hide-sm" : "")
						a(href="#"+category_en[i] data-text=category[i])!= category[i]
				-}
			-for(var i=0; i<8; i++){
				.category(id=""+category_en[i])
					-for(var j=0; j<9; j++){
						a(href=NULL).category__item
							.category__image.js-img
								img(src="img/food/food-"+j+".png")
							.category__title
								svg(class="category__strip svg--"+strip_color[j])
									use(xlink:href="#strip")
								p!= food_name[j]
					-}
			-}
		a(href=NULL).btn.btn--primary.category__more כל הקטגוריות
