section.section.section--blocks
	.blocks
		.aside_subscribe.blocks__item
			.aside__title רוצה לקבל מתכונים למייל?
			form.form.form--subscribe
				.form__control
					input(type="text" placeholder="שם").form__input
				.form__control
					input(type="email" required placeholder="*מייל").form__input
				.form__control
					button(type="submit").form__submit.btn.btn--image-small שליחה
						svg.svg.svg--btn
							use(xlink:href="#button")
		.aside_resipes.blocks__item
			.aside__title.aside__title--recipes עוד מתכונים
			.aside__main
				
				.tabs.tabs--slider.tabs-js
					
					ul.aside_resipes__list

						-for (var i = 0; i < 3; i++)
							li
								a(href="#" + aside__category_id[i]).btn.btn--image-little!= aside__category[i]
									svg.svg.svg--btn
										use(xlink:href="#button")

					-for (var j = 0; j < 3; j++)

						.aside-slider.js-aside-slider(id=aside__category_id[j])
							
							-for(var i=0; i<3; i++)
								.aside-slider__slide
									.aside-slider__slide-img.js-img
										img(src="img/cat-"+j+".png")
									.aside-slider__slide-title מיני פנקייקס מיוגורט
		.aside_video.blocks__item
			.aside_video__src
				iframe(src="https://www.youtube.com/embed/jPOxWOE-3Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)