section.section.section--comments
	.container.container--wide
		.title.title--black.title--icon
			h2.h2.h2--primary.h2--icon תגובות
				img(src="img/svg/comments.svg").title__icon
			.line
	.tabs-js
		ul.tabs__list.tabs__list--comments
			-for(var i=0; i<3; i++){
				li
					a(href=NULL id=comments_id[i] data-text=comments_tab[i]+comments_tab_count[i])!= comments_tab[i]
						span!= comments_tab_count[i]
			-}
		.comments__top
			a(href=NULL).btn.btn--image.comments__add_new.js-add-comment הוסיפו תגובה חדשה
				svg.svg.svg--btn
					use(xlink:href="#add_comment")
			form.form.form--searchform.form--search-comments
				.form__control
					input(type="text" placeholder="אולי מישהו כבר שאל? חפשו בתגובות").form__input.form__input--search.form__input--search-small
					button(type="submit").btn.btn--search.btn--search-small
						img(src="img/search.png")
						img(src="img/search_hov.png").hover
		.comments__new.js-new-comment
			form.form.form--comment
				.form__title.form__title--comment הוספת תגובה
				.form__alert
					span לתשומת לבכם: 
					| כאן תופיע הודעה מיוחדת לגולשים. 
				.form__label תוכן התגובה
				.form__control.form__control--flex
					input(type="radio" id="tips" name="type").form__input.form__input--checkbox.sr-only
					label(for="tips").form__label.form__label--checkbox חוות דעת/טיפ
					input(type="radio" id="question" name="type").form__input.form__input--checkbox.sr-only
					label(for="question").form__label.form__label--checkbox שאלה
				.form__control
					textarea.form__input.form__input--textarea-comment
				.form__control.form__control--small
					label(for="by").form__label *מאת
					input(type="text" name="by" id="by").form__input.form__input--comment
				.form__control.form__control--comment
					label(for="email").form__label *מייל (כתובת המייל לא תופיע באתר)
					input(type="email" name="email" id="email").form__input.form__input--comment
				.form__control
					label(for="file").form__label העלאת תמונת מתכון
					input(type="file" name="file" id="file").form__input.form__input--file.sr-only
					label(for="file").form__label.form__label--file בחרו תמונה
				.form__bottom
					.form__bottom-start
						.form__control
							input(type="checkbox" id="reply" name="reply").form__input.form__input--checkbox.sr-only
							label(for="reply").form__label.form__label--checkbox שלחו לי עדכון למייל כשהודעה חדשה מתקבלת.
						.form__control
							input(type="checkbox" id="newsletter" name="newsletter").form__input.form__input--checkbox.sr-only
							label(for="newsletter").form__label.form__label--checkbox הוסיפו אותי לרשימת התפוצה לקבל מתכונים למייל.
					.form__bottom-end
						button(type="submit").btn.btn--image.form__submit.form__submit--comment שלחו תגובה
							svg.svg.svg--btn
								use(xlink:href="#button")
		- for (var i=0; i<3; i++)
			.comments(id=comments_id[i])
				.comments__content
					- for (var i=0; i<3; i++)
						if(i==0)
							.comments__item
								a(href=NULL).comments__avatar
									img(src="img/svg/icon_user.svg").comments__img
								.comments__body
									.comments__data ישראל ישראלי 
										span (03:29  28.08.18)
									.comments__text תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן!
									.comments__bottom
										a(href=NULL).comments__reply השיבו
										a(href=NULL).comments__answer.js-answers 2+
											img(src="img/svg/open_comment.svg")
							.comments__answers
								.comments__item.comments__item--sub
									a(href=NULL).comments__avatar
										img(src="img/svg/icon_user.svg").comments__img
									.comments__body.comments__body--sub
										.comments__data ישראל ישראלי 
											span (03:29  28.08.18)
										.comments__text תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן!
										.comments__bottom
											a(href=NULL).comments__reply השיבו
								.comments__item.comments__item--sub
									a(href=NULL).comments__avatar
										img(src="img/svg/icon_user.svg").comments__img
									.comments__body.comments__body--sub
										.comments__data ישראל ישראלי 
											span (03:29  28.08.18)
										.comments__text תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן!
										.comments__bottom
											a(href=NULL).comments__reply השיבו
						if(i!=0)
							.comments__item
								a(href=NULL).comments__avatar
									img(src="img/svg/icon_user.svg").comments__img
								.comments__body
									.comments__data ישראל ישראלי 
										span (03:29  28.08.18)
									.comments__text תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן תוכן התגובה כאן!
									.comments__bottom
										a(href=NULL).comments__reply השיבו

	a(href=NULL).comments__readmore לקריאת כל התגובות