section.section.section--guides
	.container.container--wide
		.title.title--black.title--small
			h2.h2.h2--primary עוד מדריכים
			.line
	.container.container--slider
		.guides.tabs-js.tabs--slider
			ul.guides__list.tabs__list
				li.guides__li
					a(href="#recommended" data-text="מומלצים").guides__link מומלצים
				li.guides__li
					a(href="#new" data-text="חדשים").guides__link חדשים
				li.guides__li
					a(href="#video" data-text="וידאו").guides__link  וידאו
			-for(var j=0; j<3; j++){
				.guides__slider(id=guides__id[j])
					.slider.slider--guides.guides-slider-js
						-for(var i=0; i<4; i++){
							a(href=NULL).slide.slide--guide.guides__item
								.slide__image-wrap.slide__image-wrap--guide.js-img
									img(src="img/guide-"+i+".png").slide__image.slide__image--guide.guides__image
								.slide__title.slide__title--guide.guides__title סלט קפרזה
						-}
			-}