section.section.section--outsidemenu.show-md
	.container
		.outside_menu
			ul.outside_menu__list
				li.outside_menu__item
					a(href=NULL).outside_menu__link מתכונים לחג
				li.outside_menu__item
					a(href=NULL).outside_menu__link מתכוני עוף
				li.outside_menu__item
					a(href=NULL).outside_menu__link בלוג מדריכים וטיפים