section.section.section--gray.section--contact
	.container.container--wide
		.title.title--black.title--lines
			h2.h2.h2--primary.h2--gray כתבו לי
			.line
	.container
		.contact
			form.form.form--contact
				.form__start
					.form__control
						input(type="text" placeholder="שם" name="name").form__input
					.form__control
						input(type="email" placeholder="מייל" name="email").form__input
				.form__end
					.form__control
						textarea(placeholder="הודעה" name="text").form__input.form__input--textarea
				.form__control.form__control--flex
					button(type="submit").form__submit.form__submit--contact.btn.btn--image שליחה
						svg.svg--btn
							use(xlink:href="#button")