section.section.section--categories
	.container
		a(href=NULL).show-md.filters__toggle.js-filters לחצו על אפשרויות סינון  
			img(src="img/svg/angle.svg")
		ul.filters
			span.hide-md סנן לפי:  
			-for(var i=0; i<5; i++){
				li(class= i==1 ? "filters__item filters__item--current" : "filters__item")
					a(href=NULL).filters__link!= categories[i]
			-}
	.line.line--wide
	.container
		.categories
			-for(var i=0; i<12; i++){
				-if(i!=5 && i!=9){
					a(href=NULL).categories__item
						.categories__image-wrap.js-img
							img(src="img/cat-"+i+".png").categories__image
						.categories__title
							span!= categories_title[i]
								//img(src="img/svg/underline_title.svg").recommended__underline
							img(src="img/svg/strip_name_matcon_madrich_gray.svg").categories__background
							svg.recommended__corner.svg.svg--orange
								use(xlink:href="#corner")
				-}
				-if(i==5 || i==9){
					a(href=NULL).categories__add
						img(src="img/add-"+i+".png" alt="add")
				-}
			-}
		ul.pagination
			li.parination__item
				a(href=NULL).pagination__link.pagination__link--next
					svg.svg.svg--pag
						use(xlink:href="#arrow_right")
			-for(var i=1; i<7; i++){
				-if(i!=2){
					li.parination__item
						a(href=NULL).pagination__link!=i
				-}
				-if(i==2){
					span.pagination__link.pagination__link--current!= i
				-}
			-}
			li
				a(href=NULL).pagination__link.pagination__link--prev
					svg.svg.svg--pag
						use(xlink:href="#arrow_left")