section.section.section--blocks
	.container
		.blocks
			.aside_subscribe.blocks__item.blocks__item--subscrbe
				.aside__title רוצה לקבל מתכונים למייל?
				.aside__main
					form.form
						.form__control.form__control--subscribe
							input(type="text" placeholder="שם").form__input.form__input--subscribe
						.form__control.form__control--subscribe
							input(type="email" required placeholder="*מייל").form__input.form__input--subscribe
						.form__control.form__control--subscribe-submit
							button(type="submit").form__submit.form__submit--subscribe.btn.btn--image-small שליחה
								svg.svg.svg--btn
									use(xlink:href="#button")

			.aside_resipes.blocks__item.blocks__item--resipes
				.aside__title.aside__title--recipes עוד מתכונים
				.aside__main
					
					.tabs.tabs--slider.tabs-js
						
						ul.aside_resipes__list

							-for (var i = 0; i < 3; i++)
								li
									a(href="#" + aside__category_id[i]).btn.btn--image-little!= aside__category[i]
										svg.svg.svg--btn
											use(xlink:href="#button")

						-for (var j = 0; j < 3; j++)

							.aside-slider.js-aside-slider(id=aside__category_id[j])
								
								-for(var i=0; i<3; i++)
									.aside-slider__slide
										.aside-slider__slide-img.js-img
											img(src="img/cat-"+j+".png")
										.aside-slider__slide-title מיני פנקייקס מיוגורט


			.aside_video.blocks__item.blocks__item--video
				.aside__title כותרת מתאימה
				.aside_video__src
					iframe(width="264" height="199" src="https://www.youtube.com/embed/jPOxWOE-3Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			.aside_translate.blocks__item.blocks__item--translate
				.aside__title TRANSLATE
				form.form.form--translate
					.form__control
						select.form__select.select-js
							option Hebrew
							option English