section.section.section--share
	.container
		.border.border--green
			.title.title--black.title--bordered.title--medium
				h2.h2.h2--primary.h2--green אהבתם? שתפו את האתר
			.share.share--post
				-for(var i=0; i<8; i++){
					if(i!=2 && i!=6)
						a(href=NULL).share__item.share__item--small
							.share__img_wrap.share__img_wrap--small
								img(src="img/icons/"+share_icon_post[i]+".png").share__img
								img(src="img/icons/"+share_icon_post[i]+"-h.png").share__img.share__img--hover
							.share__title.share__title--small!= share_title_post[i]
					if(i==2 || i==6)
						a(href=NULL).share__item.share__item--small.hide-sm
							.share__img_wrap.share__img_wrap--small
								img(src="img/icons/"+share_icon_post[i]+".png").share__img
								img(src="img/icons/"+share_icon_post[i]+"-h.png").share__img.share__img--hover
							.share__title.share__title--small!= share_title_post[i]
				-}