section.section.section--share
	.container
		.border.border--pink
			.title.title--black.title--bordered
				h2.h2.h2--primary.h2--pink אהבתם? שתפו את האתר
			.share
				-for(var i=0; i<5; i++){
					a(href=NULL).share__item
						.share__img_wrap
							img(src="img/icons/"+share_icon[i]+".png").share__img
							img(src="img/icons/"+share_icon[i]+"-h.png").share__img.share__img--hover
						.share__title!= share_title[i]
				-}