section.section.section--gray.section--newsletter
	.container.container--wide
		.title.title--black.title--lines
			h2.h2.h2--primary.h2--gray הרשמו לניוזלטר שלי
			.line
	.container
		.newsletter
			.form__caption רוצים לקבל מתכונים למייל? מלאו את הפרטים והשארו מעודכנים
			form.form.form--newsletter
				.form__control.form__control--half
					input(type="text" placeholder="שם").form__input
				.form__control.form__control--half
					input(type="email" placeholder="*מייל").form__input
				.form__control.form__control--flex
					button(type="submit").form__submit.btn.btn--image שליחה
						svg.svg--btn
							use(xlink:href="#button")