section.section.section--testimonial
	.container
		.testimonial
			.testimonial__start
				.testimonial__image-wrap
					svg.testimonial__bg.svg.svg--darkgray
						use(xlink:href="#circle")
					.testimonial__image.js-img
						img(src="img/testimonial.png")
			.testimonial__end
				.testimonial__content
					.testimonial__title היי
					.testimonial__text שמי אפרת, נשואה ואם לשלושה ילדים מקסימים. <br> אני לא שפית ולא קונדיטורית, אלא מישהי שיודעת להכין אוכל טעים (: <br>את רוב הידע שלי רכשתי בעיקר מנסיון במטבח ואני עדיין לומדת, כל הזמן. <br>אני אוהבת לאלתר ולהפתיע (לפעמים גם את עצמי), תודה שהכנסתם אותי אליכם הביתה
					img(src="img/sign.png").testimonial__sign