//- include var.jade
footer.footer(style="background-image: url('./img/footer.png');")
	.container.container--wide
		.footer__wrap
			-for(var i=0; i<5; i++){
				if(i==0)
					.footer__col
						.footer__title!= footer_nav[i]
						.footer__text  "מתכונים ב-10 דקות" הוא אתר מתכונים בו תוכלו למצוא מתכונים קלים להכנה, פשוטים ומהירים שניתן להכין עד 10 דקות הכנה (לא כולל זמן אפייה ובישול אם יש צורך בכך). באתר תוכלו למצוא גרסאות מהירות ופשוטות למתכונים מוכרים, מבלי להתפשר על הטעם. מתאים לבשלנים מתחילים וגם מתקדמים. אז אם אתם מחפשים מתכון קל, מהיר וטעים – הגעתם למקום הנכון.
				if(i!==0 && i!==4)
					.footer__col
						.footer__title!= footer_nav[i]
						-var footer_ul = eval('footer_nav_'+i)
						ul.footer__ul
							-for(var j=0; j<7; j++){
								li.footer__li
									a(href=NULL)!= footer_ul[j]
							-}
				if(i==4)
					.footer__col.footer__col--ads.hide-md
						.footer__title!= footer_nav[i]
						a(href=NULL).banner.banner--ads.banner--ads-footer
							img(src="img/books.png")
			-}
		.footer__end
			.footer__text כל הזכויות שמורות לאתר מתכונים ב10 דקות © 2013
				.footer__text-bottom אין להעתיק, לשכפל, להפיץ, למכור, לשווק מידע כלשהו מהאתר, לרבות תמונות וטקסטים, ללא קבלת אישור מראש ובכתב מהנהלת האתר | 
					a(href=NULL) מפת אתר     
					a(href=NULL)  תקנון אתר

.remodal.share.share--modal(data-remodal-id="share" data-remodal-options="hashTracking: false")
	a.remodal-close(data-remodal-action="close")
	.share__title.share__title--modal שתפו
	.share__container
		-for(var i=0; i<5; i++){
			a(href=NULL).share__item.share__item--modal
				.share__img_wrap.share__img_wrap--modal
					img(src="img/icons/"+share_icon[i]+".png").share__img
					img(src="img/icons/"+share_icon[i]+"-h.png").share__img.share__img--hover
				.share__title.share__title--small!= share_title[i]
		-}

.remodal.remodal--search(data-remodal-id="search" data-remodal-options="hashTracking: false")
	a.remodal-close(data-remodal-action="close")
	form.form.form__modal_search
		input(type="text" placeholder="חפשו מתכונים טיפים ומדריכים").form__input.form__input--modal_search.js-search-inner-popup
	.header-search__results.js-header-search-results
		.autocomplete-menu
			.autocomplete-menu__parts

				.autocomplete-menu__part.autocomplete-menu__part--results
					.js-search-results-popup

			.autocomplete-menu__bottom
				a(href=NULL).autocomplete-menu__link לכל התוצאות
				a(href=NULL).btn.btn--details חוברת מתכונים במבצע. לחצו כאן לפרטים!
			

script(src="js/jquery.js")
script(src="js/plugins.js")
script(src="js/scripts.js")