//- include var.jade
//- include svg.jade

mixin header_inner(img, title)
	header.header
		.header__top-wrap
			.container
				.header__top
					.header__top-start
						.header__top-phone
							a(href=NULL).header__top-link 03.9524210 
							a(href=NULL).header__top-link 03.9626606
					.header__top-end
						.header__top-social
							a(href=NULL).header__top-icon
								i.fa.fa-facebook
							a(href=NULL).header__top-icon
								i.fa.fa-youtube
							a(href=NULL).header__top-icon
								i.fa.fa-instagram
		.header__main-wrap
			.container
				.header__main
					.header__expand
						span.header__expand-span
					nav.header__nav
						ul.header__ul
							-for(var i=0; i<4; i++){
								li.header__item
									a(href=nav_links[i]).header__link!= nav[i]
									-if(i==2){
										ul.header__ul.header__ul--dropdown
											-for(var j=0; j<7; j++){
												li.header__item.header__item--child
													a(href=services[j]).header__link.header__link--child!= dropdown_menu[j]
											-}
									-}
							-}
					a(href=NULL).header__logo
						img(src="img/logo.png" alt="logo").header__logo-img
		.header__title.section--blend(style="background-image: url('../img/"+img+"'), linear-gradient(to bottom, #66dbea 0%,#03B4D2 100%);")
			h1.title.title--h1.title--header.title--white.title--center!= title

mixin timer(time, btnLabel, title)
	- var time = time || false

	- var btnLabel = btnLabel || ""
	- var title = title || ""

	- var hours = time && time.hours ? time.hours : 0
	- var minutes = time && time.minutes ? time.minutes : 0
	- var seconds = time && time.seconds ? time.seconds : 0
		
	.timer.js-timer
		.timer__btn.js-timer-btn= btnLabel
		.timer__body.js-timer-body
			.timer__close-btn.js-timer-close-btn +
			.timer__title= title
			.timer__counter-wrapper.js-timer-counter-wrapper
				.timer__counter.js-timer-counter(data-hours=hours, data-minutes=minutes, data-seconds=seconds)
			.timer__timeline
				.timer__timeline-bar.js-timer-timeline-bar
			.timer__nav
				.timer__mute.js-timer-mute-btn
					svg.svg.svg--sound.svg--muted
						use(xlink:href="#muted")
					svg.svg.svg--sound.svg--unmuted
						use(xlink:href="#unmuted")
				.timer__pause-btn.js-timer-pause-btn