-
	var nav = [
		'ראשי',
		'מתכונים ב10 דק’',
		'ניוזלטר',
		'בלוג טיפים ומדריכים',
		'מי אני',
		'חנות',
		'מתכונים לסוכות'
	],
	nav_links = [
		'javascript:void(0)',
		'javascript:void(0)',
		'javascript:void(0)',
		'javascript:void(0)',
		'javascript:void(0)',
		'javascript:void(0)',
		'javascript:void(0)'
	],
	category = [
		'פופולארים',
		' ארוחות',
		'תזונה/דיאטה',
		'אוספים',
		'מיוחדים',
		'אוכל ביתי',
		'מתוקים',
		'מדריכים'
	],
	category_en = [
		'popular',
		'meals',
		'diet',
		'collections',
		'special',
		'homemade',
		'fresh',
		'guides'
	],
	footer_nav = [
		'אודות האתר',
		'שימושי',
		'מתכונים פופולארים',
		'קטגוריות מומלצות',
		'הצטרפו אלינו'
	],
	footer_nav_1 = [
		'צור קשר',
		'אודות',
		'המרת מידות ומשקלות',
		'קטגוריות',
		'תגיות ומתכונים',
		'טיפים ומדריכים',
		'פרסמו אצלנו'
	],
	footer_nav_2 = [
		'עוגת מייפל',
		'עוגת ביסקוויטים',
		'כדורי שוקולד',
		'עוגת גבינה פירורים',
		'מתכון לפנקייק',
		'פשטידת תירס',
		'מתכון עוגת שוקולד'
	],
	footer_nav_3 = [
		'עוף ובשר',
		'מרקים',
		'תוספות',
		'עוגות',
		'מתכונים לחג',
		'פשטידות',
		'סלטים '
	],
	food_name = [
		'מתכוני עוף',
		'מתכונים בריאים',
		'מאפים',
		'מתכונים לילדים',
		'מרקים',
		'עוגיות',
		'מתכוני בסיס',
		'פשטידות',
		'צמחוני'
	];
	strip_color = [
		'orange',
		'green',
		'pink',
		'cyan_dark',
		'violet',
		'cyan',
		'orange',
		'blue',
		'green'
	],
	new_slider = [
		'סלט קפרזה',
		'גלידת פירות יער',
		'שעועית ירוקה עם <br>חמוציות',
		'בראוניז שוקולד',
		'סלט קפרזה',
		'גלידת פירות יער',
		'שעועית ירוקה עם <br>חמוציות',
		'בראוניז שוקולד'
	],
	new_color = [
		'cyan_dark',
		'blue',
		'orange',
		'blue',
		'green',
		'violet',
		'pink',
		'cyan'
	],
	guides = [
		'לאכול טרי או מבושל?',
		'סגולות התבלינים',
		'סוגי אורז',
		'אגוזים – סוגים וחשיבותם לתזונה'
	],
	share_icon = [
		'fb',
		'gp',
		'pinteres',
		'whatsapp',
		'mail'
	],
	share_icon_post = [
		'face',
		'fb',
		'gp',
		'pinteres',
		'whatsapp',
		'mail',
		'print',
		'heart'
	],
	share_icon_gallery = [
		'face',
		'heart',
		'print',
		'share'
	],
	share_title = [
		'פייסבוק',
		'גוגל +',
		'פינטרס',
		'וואטסאפ',
		'מייל'
	],
	share_title_post = [
		'הכנתי ואהבתי',
		'פייסבוק',
		'גוגל +',
		'פינטרס',
		'וואטסאפ',
		'מייל',
		'הדפסה',
		'הוספה למחברת'
	],
	aside__category = [
		'מומלצים',
		'חדשים',
		'וידאו'
	],
	aside__category_id = [
		'new',
		'featured',
		'video'
	],
	aside__directories = [
		'מדריך בצק שמרים',
		'מדריך בצק פריך',
		'מדריך בצק פילו',
		'מדריך בשר בקר',
		'מדריך דגים',
		'כל המדריכים'
	],
	guides__id = [
		'recommended',
		'new',
		'video'
	],
	comments_id = [
		'all',
		'reviews',
		'questions'
	],
	comments_tab = [
		'כל התגובות ',
		'חוות דעת וטיפים',
		'שאלות'
	],
	comments_tab_count = [
		'(25)',
		'(26)',
		'(5)'
	],
	categories = [
		'כל המתכונים',
		'מתכונים לחזה עוף',
		'מתכונים עם בשר טחון',
		'מתכוני פרגיות',
		'מתכוני עוף'
	],
	categories_title = [
		'חזה עוף בדבש ושום',
		'חזה עוף בטריאקי',
		'בצק עלים במילוי עוף ותפוחים',
		'תבשיל חזה עוף וירקות',
		'כדורי עוף ברוטב דבש וצ\'ילי',
		'',
		'קציצות טעימות ברוטב',
		'חזה עוף עם אורז',
		'קציצות עוף וירקות',
		'',
		'חזה עוף עם תפוחי אדמה',
		'חזה עוף מוקפץ'
	],
	dd_menu_1 = [
		'עוף ובשר',
		'מתכוני דגים',
		'תוספות',
		'סלטים',
		'מרקים מנצחים',
		'מאפים',
		'עוגות',
		'עוגיות',
		'קינוחים ומתוקים'
	],
	dd_menu_2 = [
		'ארוחת בוקר',
		'ארוחת צהריים',
		'ארוחת ערב',
		'ארוחה בסיר אחד'
	],
	dd_menu_3 = [
		'דיאטטי',
		'בריא',
		'צמחוני',
		'טבעוני',
		'ללא גלוטן',
		'ללא סוכר',
		'קמח מלא',
		'פליאו'
	],
	dd_menu_4 = [
		'לשבת',
		'לאירוח',
		'לילדים ',
		'לפסח',
		'חלבי',
		'חגים',
		'מסעדות'
	],
	dd_menu_5 = [
		'חצי עבודה',
		'עד 5 מרכיבים',
		'משאריות אוכל',
		'לפי מצרכים',
		'מתכוני בסיס'
	];