#accability_toolbar {
	max-width: 145px;
	position: fixed;
	left: auto;
	right: 0;
}

#accability_toolbar > button {
	font-size: 17px;
	border: 2px solid #283764;
	border-right: none;
	border-radius: 10px 0 0 10px;
	margin-bottom: 1px;
}

#accability_toolbar > button:not(.active), 
.access_button_style:not(.active) {
	border: 2px solid #464646;
	border-right: none;
	background-color: #f2f2f2;
}
#accability_toolbar > button#show_accability_menu {
	margin-bottom: 20px;
	margin-right: 0;
	margin-left: auto;
	background-color: #454545;
	height: 85px;
	border-radius: 43px 0 0 43px;
	width: 92px;
}

#accability_toolbar > button:not(#show_accability_menu) {
	width: 145px;
}

#accability_toolbar > button#show_accability_menu.active {
	width: 145px;
}

#accability_toolbar > button.active {
	color: #34c3db;
	background-color: #f1f1f1;
}

#accability_toolbar #icon-accability {
	fill: #30437b;
}
#accability_toolbar button.active #icon-links,
#accability_toolbar button.active #icon-font {
	fill: #283764;
}

#accability_toolbar > button#links_b:not(.active):focus #icon-links,
#accability_toolbar > button#font_change_ro_arial:not(.active):focus #icon-font {
	fill: #34c3db;
}

button#enlarge_text {
	font-size: 37px !important;
}
button#reset_text {
	font-size: 26px !important;
}
button#dec_text {
	font-size: 17px !important;
}
body.enlarge_text span{
	font-size: 28px!important;
	line-height: normal!important;
}

body.dec_text span {
	font-size: 14px!important;
	line-height: normal!important;
}

@media(max-width:768px) {
	#accability_toolbar {
		width: 145px;
		max-width: 145px;
	}
	#accability_toolbar > button:not(#show_accability_menu) {
		width: 145px;
	}
	#accability_toolbar > button#show_accability_menu.active {
		width: 145px;
	}
}

@media (max-width: 994px){
	#accability_toolbar > button#show_accability_menu{
		margin-right: 0;
		margin-left: auto;
		height: 73px;
		width: 81px;
	}
	#accability_toolbar > button{
		border-radius: 10px 0 0 10px;
	}
}
@media (max-width: 750px){
	#accability_toolbar{
		display: none !important;
	}
}