include incl/var.jade

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/head.jade
		title Categories
	body
		.site-wrap
			include incl/parts/header__inner.jade
			main
				include incl/parts/section-search-inner.jade
				section.section.section--breadcrumbs.section--gray
					.container.container--breadcrumbs
						ul.ul.ul--breadcrumbs
							li.breadcrumbs__item
								a(href=NULL)  ראשי   
							| >   
							li.breadcrumbs__item
								a(href=NULL)  מתכונים 
							| >   
							li.breadcrumbs__item
								span עוף ובשר
				include incl/parts/banner__info.jade
				include incl/parts/section__categories.jade
				include incl/parts/section__after_content.jade
			include incl/footer.jade
		include incl/svg.jade