include incl/var.jade

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/head.jade
		title Index
	body.homepage
		.site-wrap
			include incl/parts/header.jade
			main
				//- Banner
				include incl/parts/banner__head.jade
				//- Category section
				include incl/parts/resipes__category.jade
				//- New resipes section
				include incl/parts/resipes__new.jade
				//- Popular resipes section
				include incl/parts/resipes__popular.jade
				//- Recommended guides
				include incl/parts/recommended_guides.jade
				//- Recommended video
				include incl/parts/recommended_video.jade
				//- Banner offer
				include incl/parts/banner__offer.jade
				//- Testimonial
				include incl/parts/section__testimonial.jade
				//- Newsletter
				include incl/parts/section__newsletter.jade
				//- Share
				include incl/parts/section__share.jade
				//- Contact us
				include incl/parts/section__contact_us.jade

			include incl/footer.jade
		include incl/svg.jade