include incl/var.jade

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/head.jade
		title Madrich
	body
		.site-wrap
			include incl/parts/header__inner.jade
			//- include incl/parts/banner__line.jade
			main
				include incl/parts/section__outside_menu.jade
				section.section.section--breadcrumbs.section--gray
					.container.container--breadcrumbs
						ul.ul.ul--breadcrumbs
							li.breadcrumbs__item
								a(href=NULL)  ראשי   
							| >   
							li.breadcrumbs__item
								a(href=NULL)  טיפים ומדריכים   
							| >   
							li.breadcrumbs__item
								span  איך להמיס שוקולד? 
				.container.container--inner
					include incl/parts/aside__start.jade
					include incl/parts/content__madrich.jade
					include incl/parts/aside__end.jade
			include incl/footer.jade
		include incl/svg.jade