include incl/var.jade
include incl/mixins.jade

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/head.jade
		title Matcon
	body
		.site-wrap
			include incl/parts/header__inner.jade
			main
				include incl/parts/section__outside_menu.jade
				section.section.section--breadcrumbs.section--gray
					.container.container--breadcrumbs
						ul.ul.ul--breadcrumbs
							li.breadcrumbs__item
								a(href=NULL)  ראשי   
							| >   
							li.breadcrumbs__item
								a(href=NULL)  מתכונים  
							| >   
							li.breadcrumbs__item
								a(href=NULL)  מתכונים לילדים  
							| >   
							li.breadcrumbs__item
								span מקלות בצק עלים במילוי גבינה
				include incl/parts/banner__slider.jade
				.container.container--inner
					include incl/parts/aside__start.jade
					include incl/parts/content__matcon.jade
					include incl/parts/aside__end.jade
			include incl/footer.jade
		include incl/svg.jade