@font-face {
    font-family: 'Assistant';
    src: url('Assistant-ExtraLight.eot');
    src: url('Assistant-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Assistant-ExtraLight.woff2') format('woff2'),
        url('Assistant-ExtraLight.woff') format('woff'),
        url('Assistant-ExtraLight.svg#Assistant-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('Assistant-Bold.eot');
    src: url('Assistant-Bold.eot?#iefix') format('embedded-opentype'),
        url('Assistant-Bold.woff2') format('woff2'),
        url('Assistant-Bold.woff') format('woff'),
        url('Assistant-Bold.svg#Assistant-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('Assistant-Light.eot');
    src: url('Assistant-Light.eot?#iefix') format('embedded-opentype'),
        url('Assistant-Light.woff2') format('woff2'),
        url('Assistant-Light.woff') format('woff'),
        url('Assistant-Light.svg#Assistant-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('Assistant-SemiBold.eot');
    src: url('Assistant-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Assistant-SemiBold.woff2') format('woff2'),
        url('Assistant-SemiBold.woff') format('woff'),
        url('Assistant-SemiBold.svg#Assistant-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('Assistant-Regular.eot');
    src: url('Assistant-Regular.eot?#iefix') format('embedded-opentype'),
        url('Assistant-Regular.woff2') format('woff2'),
        url('Assistant-Regular.woff') format('woff'),
        url('Assistant-Regular.svg#Assistant-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('Assistant-ExtraBold.eot');
    src: url('Assistant-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Assistant-ExtraBold.woff2') format('woff2'),
        url('Assistant-ExtraBold.woff') format('woff'),
        url('Assistant-ExtraBold.svg#Assistant-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

