.aside
	padding-top 10px
	
	@media(max-width 1200px)
		display none
		
	&--start
		max-width 300px

	&--end
		max-width 200px

	&__part
		margin-bottom 32px
		background-color #f1f1f1
		border 1px solid #414141
		text-align center
		
	&__title
		color #393939
		font-size 25px
		font-weight 700
		margin-bottom 18px
		padding-bottom 18px
		position relative
		text-align center
		text-transform uppercase
		
		@media(max-width 630px)
			font-size vw(21)
			letter-spacing -0.02em
			margin-bottom vw(16)
			padding-bottom vw(14)
			
		&:after
			content url('../img/svg/underline_title_pink.svg')
			width 67px
			height auto
			display block
			position absolute
			bottom 0
			left 50%
			pointer-events none
			transform translateX(-50%)
			
		@media(max-width 630px)
		
			&:after
				width vw(67)
				bottom vw(0)
		
		&--recipes
			margin-bottom 25px
			padding-bottom 15px
			
			@media(max-width 630px)
				margin-bottom vw(10)
				padding-bottom vw(13)
		
		&--recommended
			margin-bottom 16px
			padding-bottom 16px
		
		&--video
			margin-bottom 22px
			padding-bottom 16px
		
		&--directory
			margin-bottom 16px
			padding-bottom 18px
		
		&--translate
			margin-bottom 17px
			padding-bottom 14px

	&_subscribe
		padding 17px 15px 18px
		
		@media(max-width 630px)
			padding vw(12) vw(14) vw(17)
			
	&_notebook
		background-image url(../img/notebook.jpg)
		padding 10px 30px 5px
		color #393939
		background-size cover
		background-repeat no-repeat
		&__icon
			margin 0 auto 1px
			width 39px
			
			img
				vertical-align top
				
		&__title
			margin 0 0 3px
			font-size 25px
			line-height 1.2em
			font-weight 700
		
		&__text
			font-size 22px
			line-height 1.136364em
			margin-bottom 9px
			
	&_resipes
		padding 15px 18px 68px 15px
		
		@media(max-width 630px)
			padding vw(15) vw(20) vw(20)
			
		&__list
			margin-top 0
			margin-bottom 16px
			display flex
			flex-wrap wrap
			justify-content space-between
			
			@media(max-width 630px)
				margin-bottom vw(12)
				
			.ui-state-active
				
				svg
					fill #c24a7d
				
	&_ads
		height 250px
		width 100%
		padding 0
	
	&_recommended
		padding 12px 10px 13px
		&__image
			text-align center
			margin 0 auto
			width 132px
			height 122px
		&__link
			color #393939
			display block
			font-size 20px
			line-height 30px
			margin-top 5px
			text-decoration underline
			&:hover
				text-decoration none
	&_video
		padding 12px 15px 23px
		
		@media(max-width 630px)
			padding vw(19)
			
		iframe
			height 100%
			width 100%
			
		&__src
			height 200px
			
			@media(max-width 630px)
				height vw(199)
			
	&_directory
		padding 15px 17px 30px
		
		&__list
			display flex
			flex-direction column
			text-align start
			
			li
				
				& + li
					margin-top 12px
				
			a
				color #393939
				font-size 20px
				
				&:hover
					color #c24b7e
					text-decoration underline
	&_translate
		padding 11px 15px 25px