.aside-slider
	display block
	height auto
	margin-top 0
	
	&[aria-hidden="true"]
		height 0
	
	html[dir="rtl"] &
		
		.slick-prev
		.slick-next
			background-size cover
			background-repeat no-repeat
			bottom -43px
			height 26px
			top auto
			transform none
			width 22px
				
			@media(max-width 630px)
				height vw(26)
				top 34%
				width vw(21)
				
		.slick-prev
			background-image url('../img/svg/arrow_right.svg')
			right 50%
			transform translateX(100%)
			margin-right -16px
			
			&:hover
				background-image url('../img/svg/arrow_right_hov.svg')
			
			@media(max-width 630px)
				margin-right 0
				right vw(-14)
				transform none
			
		.slick-next
			background-image url('../img/svg/arrow_left.svg')
			left 50%
			transform translateX(-100%)
			margin-left -16px
			
			&:hover
				background-image url('../img/svg/arrow_left_hov.svg')
		
			@media(max-width 630px)
				left vw(-14)
				margin-left 0
				transform none
					
			
	&__slide
		align-items stretch
		display flex
		flex-direction column
		padding-top 0
		position relative
		vertical-align top
		width 25%

	&__slide-img
		height 175px
		width 100%
		
		@media(max-width 630px)
			height vw(145)
			margin 0 auto
			width vw(218)
			
	&__slide-title
		color #393939
		font-size 20px
		margin-top 5px
		
		@media(max-width 630px)
			font-size vw(17)
			margin-top vw(7)