.autocomplete-menu
	overflow hidden
	padding-right 0
	
	&__parts
		align-items stretch
		display flex
		padding-left 23px
	
	&__part
		flex-grow 1
		width auto
		
		&--results
			padding-left 23px
			padding-bottom 8px

		&--placeholder
			flex-grow 0
			width 270px
			padding-bottom 26px
			padding-top 26px
			position relative
	
	&__placeholder
		background-color #c0c0c0
		background-repeat no-repeat
		background-size cover
		background-position 50% 50%
		height 180px
		width 100%
	
	&__bottom
		border-top 1px solid #c0c0c0
		text-align center
		position relative
		z-index 2
		font-size 25px
		font-weight 600
		line-height 35px
		padding-top 4px
		@media(max-width 630px)
			font-size vw(18)
			line-height 1.4
			border none
		
	&__link
		text-decoration underline
		color #bd4c7a
		&:hover
			text-decoration none