.ui-autocomplete 
	@media(min-width 993px)
		display flex
		flex-wrap wrap
		font-size 25px
		left 0 !important
		line-height 35px
		margin-bottom -20px
		padding-bottom 0
		padding-top 14px
		top 0 !important
		width auto !important
	@media(max-width 630px)
		text-align right

.ui-autocomplete-category 
	font-weight bold
	padding 0
	margin 0
	line-height inherit
	font-size 26px
	@media(max-width 630px)
		font-size vw(18)
		text-align right

.ui-autocomplete-category ul
	padding 0

.submenu 
	font-weight normal
	
	li
		color #393939
		&:hover
			color #bd4c7a
	@media(max-width 630px)
		text-align right
		

/* ADDED STYLE */
.ui-autocomplete>li>div>ul
	display block !important
	position relative !important
	border 0 !important

span.ui-menu-icon
	display none !important

/* ADDED for the SO snippet only !! Not needed on CodePen */
.ui-autocomplete > li
	cursor pointer
	display inline-block !important
	vertical-align top
	width 50%
	padding 0 23px 20px
	@media(max-width 630px)
		color #c44b80
		width 100%
		display block
		text-align right
		padding 0
	
.ui-helper-hidden-accessible
	display none