.banner
	position relative
	display flex
	justify-content center
	align-items center
	flex-direction column
	width 100%
	
	&__background
		width 100%
		height 100%
		
	&__title
		font-size 65px
		color #fff
		text-align right
		font-weight 500
		line-height 1.1
		@media(max-width 998px)
			font-size 45px
		@media(max-width 630px)
			font-size vw(25.18)
			text-align center
			padding 0 vw(30)
		
		&--label
			position relative
			font-size 45px
			font-weight 700
			text-align center
			padding 10px 70px
			display inline-block
			z-index 1
			margin 0 auto
			@media(max-width 998px)
				font-size 30px
				padding 10px 20px
			@media(max-width 630px)
				font-size vw(23)
				padding vw(10) vw(45)
			img
				position absolute
				top 50%
				left 54%
				transform translate(-50%, -50%)
				z-index -1
				width 335px
				max-width inherit
				@media(max-width 998px)
					width 250px
				@media(max-width 630px)
					width vw(153)
	&__text
		font-size 27px
		color #393939
		text-align center
		margin-top 40px
		letter-spacing 0.022em
		line-height 1.3
		@media(max-width 630px)
			font-size vw(15)
			margin-top vw(20)
		&--line
			margin 0
			line-height inherit
			letter-spacing inherit
			color #000
	&__link
		&--line
			color #000
			margin-right 30px
			text-decoration underline
			&:hover
				text-decoration none
	&__logo
		&-img
			width 505px
			@media(max-width 630px)
				width vw(187)
				
	&__search
		width 100%
		
	&--header
		height 560px
		padding-bottom 50px
		@media(max-width 998px)
			height 400px
		@media(max-width 630px)
			height auto
			padding vw(25) 0 vw(25)
			
	&--ads
		
		&-footer
			height 253px
			width 100%
			
		&-wide
			padding 8px 0
			border-top 2px solid #f1f1f1
			border-bottom 2px solid #f1f1f1
			margin-top 40px
			@media(max-width 630px)
				display none
			
	&__content
		
		&--offer
			width 100%
			display flex
			justify-content space-between
			flex-wrap wrap
			
		&--info
			text-align center
			width 100%
			
	&__btn
		margin-top 40px
		@media(max-width 998px)
			margin-top 25px
		@media(max-width 630px)
			margin 0 auto
			margin-top vw(15)
			display block
			
	&__start,
	&__end
		width 42%
		@media(max-width 630px)
			width 100%
			display flex
			align-items center
			flex-wrap wrap
			padding-top vw(15)
			
	&__start
		@media(max-width 630px)
			max-width 54%
			margin 0 auto
			
	&--offer
		flex-direction row
		padding 234px 0 84px
		@media(max-width 998px)
			padding 150px 0 60px		
		@media(max-width 630px)
			padding vw(35) 0 vw(37)
			
	&--resipe
		width 100%
		height auto
		
		@media(min-width 631px)
			align-items stretch
			display flex
			flex-direction row

	&_resipe
		
		&__start
			background-color #7b8e4f
			color #fff
			font-size vw(15)
			line-height 1.2em
			padding vw(13) vw(10) vw(16)
			width 100%

			@media(min-width 631px)
				font-size 18px
				padding 40px 0 30px 15px
				width 40%
			@media(min-width 999px)
				font-size 25px
				padding 64px 23px 65px 23px
				width 40%
				
		&__end
			width 100%
			
			@media(min-width 631px)
				order 1
				flex-grow 1
				width 1%

		&__content
			
			@media(min-width 631px)
				max-width 560px
				padding-right 40px
				padding-top 24px
			
		&__tag
			background-image url(../img/tag-stripe.png)
			background-position 50% 50%
			background-repeat no-repeat
			background-size contain
			display none
			position relative
			text-align center
			z-index 1
			font-size 30px
			font-weight 600
			min-width 260px
			padding 17px 5px 11px 21px
			
			svg
				fill #393939
				
			@media(min-width 631px)
				display inline-block
				
		&__title
			font-size vw(25)
			margin-top 0
			line-height 1
			
			@media(min-width 631px)
				font-size 30px
			@media(min-width 999px)
				font-size 50px
			
			@media (min-width 1200px)
				font-size 80px

		&__text
			margin-top vw(9)
			
			@media(min-width 631px)
				margin-top 20px
			@media(min-width 999px)
				margin-top 31px
			
			p + p
				
				@media(min-width 631px)
					margin-top 5px
				
		&__hashtag
			margin-top 22px
			font-weight 700
			letter-spacing 0.01em
			
			@media(min-width 631px)
				margin-top 20px
			@media(min-width 999px)
				margin-top 32px

		&__hashtags
			font-size 25px
			font-weight 700
			margin-top 35px
		
		&__data
			align-items center
			display flex
			margin-top vw(12)
			
			@media(min-width 631px)
				margin-top 20px
			@media(min-width 999px)
				margin-top 40px
			
			@media (min-width 1200px)
				margin-top 86px
				
		&__avatar
			width vw(35)
			min-width vw(35)
			height vw(35)
			min-height vw(35)
			border-radius 50%
			overflow hidden
			
			@media(min-width 631px)
				width 60px
				height 60px
				min-width 60px
				min-height 60px
			@media(min-width 999px)
				width 80px
				min-width 80px
				height 80px
				min-height 80px
		
		&__date
			font-size vw(12)
			line-height 1.093333em
			margin-right vw(7)
			@media(min-width 631px)
				margin-right 10px
				font-size 15px
			@media(min-width 999px)
				font-size inherit
				margin-right 15px
	&--line
		position fixed
		width 100vw
		height 38px
		background-color #ffb901
		color #000000
		font-size 20px
		z-index 99
		padding 0
		display flex
		align-items center
		justify-content center