.banner-slider
	display block
	height 100%
	overflow hidden
	
	.slick-list,
	.slick-track
		height 100%
		
	&__slide-contain
		background-repeat no-repeat
		background-size cover
		background-position 50% 50%
		height 100%
		position relative
	
	&__slide-img
		height auto
		width 100%
		
		@media(min-width 631px)
			height 100%
			left 0
			opacity 0
			position absolute
			top 0
			visibility hidden
			width 100%
		
	&__caption
		background-color rgba(255,255,255,0.7)
		bottom 120px
		color #000000
		display none
		font-size 20px
		left 63px
		padding 6px 10px 9px 15px
		position absolute
		text-align center
		
		@media(min-width 631px)
			display block

		@media (min-width 1600px)
			bottom 36px

	&__pagination
		bottom vw(17)
		display flex
		left 50%
		margin 0 vw(-1)
		position absolute
		transform translateX(-50%)

		@media(min-width 631px)
			bottom 39px
			margin 0 -5px
			max-width 200px
		

		li
			padding vw(1)
			
			@media(min-width 631px)
				padding 5px
			
			button
				background-color #ffffff
				border vw(1) solid #000000
				border-radius vw(9)
				display block
				font-size 0
				height vw(9)
				line-height 0
				padding 0
				transition background-color 0.2s ease
				width vw(9)
				
				@media(min-width 631px)
					border 2px solid #000000
					border-radius 25px
					height 25px
					width 25px

			&.slick-active button,
			button:hover
				background-color #000000
		