.btn
	box-shadow none
	border none
	position relative
	z-index 1
	&--search
		background-color transparent
		position absolute
		left 12px
		top 50%
		padding 0
		transform translateY(-50%)
		@media(max-width 630px)
			left vw(5)
		img
			width 37px
			height 37px
			display block
			@media(max-width 630px)
				width vw(19)
			&.hover
				display none
		&:hover
			img
				display none
				&.hover
					display block
	&--search-small
		padding 0
		left 15px
		background-color transparent
		background-color transparent
		position absolute
		left 12px
		top 50%
		padding 0
		transform translateY(-50%)
		img
			width 32px
			height 32px
			display block
			@media(max-width 630px)
				width vw(19)
			&.hover
				display none
		&:hover
			img
				display none
				&.hover
					display block
	&--primary
		display inline-flex
		align-items center
		justify-content center
		color #c24a7d
		background-color transparent
		text-align center
		margin 0 auto
		border 1px solid #c24a7d
		padding 11px 15px
		min-width 346px
		font-size 35px
		font-weight 500
		@media(max-width 630px)
			font-size vw(16)
			padding vw(3) vw(12)
			min-width vw(120)
		&:hover
			background-color #c24a7d
			color #fff
	&--image
		color #fff
		min-width 234px
		font-size 50px
		padding 8px 18px 12px
		position relative
		display inline-block
		overflow hidden
		text-align center
		svg
			fill #353535
		&:hover
			svg
				fill #c24a7d
		@media(max-width 998px)
			font-size 40px
			padding 6px 14px 8px
		@media(max-width 630px)
			font-size vw(22)
			font-weight 500
			min-width inherit
			padding vw(4) vw(25) vw(6)
	&--image-small
		color #fff
		min-width 104px
		font-size 22px
		padding 4px 9px 6px
		position relative
		display inline-block
		overflow hidden
		text-align center
		svg
			fill #353535
		&:hover
			svg
				fill #c24a7d
	&--image-little
		color #fff
		min-width 86px
		height 27px
		font-size 20px
		position relative
		display inline-block
		overflow hidden
		text-align center
		vertical-align top
		svg
			fill #353535
		&:hover
			svg
				fill #c24a7d
		@media(max-width 630px)
			font-size vw(18)
			height vw(28)
			min-width vw(81)
			display inline-flex
			align-items center
			justify-content center
	&--details
		@media(max-width 630px)
			font-size vw(15)
			color #fff
			text-decoration none
			background-color #c44b80
			display inline-flex
			align-items center
			justify-content center
			min-width 250px
			padding 4px 10px
			margin-top vw(25)