.categories
	display flex
	justify-content space-between
	align-items stretch
	flex-wrap wrap
	width 100%
	margin-top 30px
	@media(max-width 630px)
		margin-top 0
	&__item
		height 320px
		width 32%
		position relative
		overflow hidden
		padding-bottom 55px
		margin-bottom 49px
		&:hover
			opacity 0.5
		@media(max-width 998px)
			width 49%
			height 300px
			margin-bottom 20px
		@media(max-width 630px)
			width 49%
			height vw(140)
			padding-bottom vw(35)
			margin-bottom vw(11)
	&__title
		position absolute
		bottom 0
		left 0
		width 100%
		height 61px
		font-size 25px
		color #000
		text-align center
		padding 0 10px
		display flex
		align-items center
		justify-content center
		z-index 2
		span
			position relative
		@media(max-width 630px)
			font-size vw(17)
			height vw(40)
	&__corner
		width 19px
		height 19px
		position absolute
		bottom 5px
		left 6px
		z-index 1
	&__image
		&-wrap
			z-index 0
			width 100%
			height 100%
	&__background
		position absolute
		bottom -1px
		left 0
		max-width inherit
		height 61px
		z-index -1
		@media(max-width 630px)
			height vw(40)
			left 50%
			transform translateX(-50%)
	&__add
		border 1px solid #e1e1e1
		height 320px
		width 32%
		margin-bottom 49px
		display flex
		align-items center
		justify-content center
		@media(max-width 998px)
			width 49%
			height 300px
			margin-bottom 20px
		@media(max-width 630px)
			display none

.filters
	display flex
	font-size 20px
	color #393939
	font-weight 700
	justify-content center
	align-items center
	width 100%
	flex-wrap wrap
	@media(max-width 998px)
		font-size 17px
	@media(max-width 630px)
		font-size vw(17)
		display none
		text-align center
	span
		margin-left 10px
	&__item
		padding 1px 15px 4px
		border 1px solid #393939
		display inline-flex
		align-items center
		margin 5px
		&:hover
			border-color #ef6f14
		@media(max-width 630px)
			margin-top vw(10)
			padding 0.4vw 4vw 0.6vw
		&--current
			color #fff
			border-color transparent
			background-color #ef6f14
			.filters__link
				color #fff
	&__link
		color #393939
		font-weight 700
	&__toggle
		font-size vw(16)
		color #393939
		margin vw(10) auto
		font-weight 700
		img
			width vw(15)
			transition all .2s
		&.active
			img
				transform rotate(-180deg)
			

.pagination
	align-items center
	justify-content center
	display flex
	width 100%
	margin-top 11px
	&__link
		font-size 40px
		color #393939
		margin 0 12px
		&:hover
			color #ef6f14
		@media(max-width 630px)
			font-size vw(20)
			margin 0 vw(7)
		&--current
			color #ef6f14
			font-weight 700
		&--next
		&--prev
			margin 0 18px
			svg
				width 23px
				height 29px
				fill #393939
				@media(max-width 630px)
					width vw(12)
					height vw(15)
			&:hover
				svg
					fill #ef6f14
		
.blocks
	max-width 100%
	display flex
	justify-content space-between
	flex-wrap wrap
	
	&__item
		max-width 23.5%
		width 100%
		background-color #f1f1f1
		border 1px solid #414141
		text-align center
		@media(max-width 998px)
			max-width 49%
			margin-bottom 20px
		@media(max-width 630px)
			max-width 100%
			&:not(:last-child)
				margin-bottom vw(23)
				
		&--video
			padding 11px 15px 25px

		&--resipes
			padding 15px 15px 82px
			
			@media(max-width 630px)
				padding vw(10) vw(23) vw(21)
		
		&--subscribe
			padding 18px 15px