.footer
	background-size cover
	background-repeat no-repeat
	color #ffffff
	font-size 20px
	padding 100px 0 40px
	@media(max-width 630px)
		font-size vw(12)
		padding vw(30) 0 vw(30)
	&__wrap
		display flex
		justify-content space-between
		width 100%
		@media(max-width 630px)
			flex-wrap wrap
	&__col
		max-width 335px
		width 100%
		&:not(:last-child)
			margin-left 1.5%
		@media(max-width 630px)
			max-width 100%
	&__text
		padding-left 30px
		line-height 1.5
	&__title
		font-size 30px
		font-weight 600
		color #c24b7e
		margin-bottom 21px
		position relative
		@media(max-width 630px)
			font-size vw(20)
			margin-bottom 5px
			padding-bottom 5px
			display block
			cursor pointer
			margin-top vw(15)
			&:after
				content ''
				display block
				position absolute
				bottom 0
				height 1px
				width 100%
				background-color #c24a7d
			&:before
				content ''
				background-image url('../img/svg/corner.svg');
				background-size cover
				background-repeat no-repeat
				width vw(18)
				height vw(10)
				cursor pointer
				position absolute
				left 0
				top vw(10)
				transform rotate(-180deg)
				transition all .2s
			&.active
				&:before
					transform none
	&__ul
		display flex
		flex-direction column
		@media(max-width 630px)
			display none
		li
			margin 3px 0
			&:not(:first-child)
				margin 3px 0
		a
			color #fff
			&:hover
				color #ffba00
	&__end
		text-align center
		margin-top 75px
		width 100%
		@media(max-width 630px)
			margin-top vw(30)
		a
			display inline
			margin 0 3px
			color #fff
			text-decoration underline
			&:hover
				color #ffba00
		.footer__text
			line-height 1.2
			padding-left 0
			&-bottom
				display block