.form
	direction rtl
	font-family 'Assistant', sans-serif
	position relative
	z-index 1
	&__wrapper
		width 100%
		
		&--search-inner
			margin 0 auto
			max-width 878px

	&__start
	&__end
		width 48%
		display flex
		flex-wrap wrap
		
		@media(max-width 630px)
			width 100%
			
	&__select
		width 100%
		
	&__control
		position relative
		width 100%
		margin 15px 0
		
		&--no-margins
			margin 0

		&--half
			width 48%
			
		@media(max-width 630px)
			width 100%
			margin vw(8) 0
			
		&--flex
			display flex
			align-items center
			
		&--inner-search
			margin 0
		
		&--subscribe
			margin-bottom 13px
			margin-top 0
			
			@media(max-width 630px)
				margin-bottom vw(9)
		
		&--subscribe-submit
			margin 20px 0 0
			
			@media(max-width 630px)
				margin vw(13) 0 0
			
	&__submit
		display inline-block
		font-family 'Assistant', sans-serif
		margin 0 auto
		background-color transparent
		margin-top 29px
		@media(max-width 630px)
			margin-top vw(15)
		&--comment
			margin 0
			font-size 25px
			padding 8px 12px 10px
			max-width inherit
			min-width inherit
			@media(max-width 630px)
				font-size vw(14)
				padding vw(4) vw(6) vw(6)
		&--contact
			margin-top 35px
			@media(max-width 630px)
				margin-top vw(10)
				
		&--subscribe
			margin 0
			
			@media(max-width 630px)
				font-size vw(22)
				padding vw(5) vw(18)
				height auto
	&__caption
		font-size 35px
		color #393939
		text-align center
		@media(max-width 998px)
			font-size 25px
		@media(max-width 630px)
			font-size vw(16)
	&__input
		font-family 'Assistant', sans-serif
		width 100%
		border 1px solid #393939
		color #393939
		font-size 35px
		padding 19px 20px
		box-shadow none
		font-weight 500
		@media(max-width 998px)
			padding 10px 15px
		@media(max-width 630px)
			font-size vw(18)
			padding vw(8) vw(12)
		&::placeholder
			color #aeaeae
		&--checkbox
		&--file
			padding 0
			width 1px
			border none
		&--checkbox
			&:checked
				& + label
					&:after
						opacity 1
						visibility visible
		&--modal_search
			border none
			border-bottom 1px solid #393939
			background-color transparent
			&::placeholder
				color #393939
		&--search
			width 100%
			height 78px
			font-size 31px
			border 3px solid #393939
			border-radius 3px
			padding 0 25px
			background-color #fff
			&::placeholder
				color #9f9f9f
			@media(max-width 630px)
				height vw(40)
				font-size vw(15.51)
				padding 0 vw(15)
				border 2px solid #393939
		&--headersearch
			width 100%
			height 54px
			font-size 20px
			border 2px solid #393939
			padding 0 15px

		&--search-small
			height 46px
			font-size 25px
			padding 0 20px
			border-width 1px
			border-radius 0
			background-color #ededed
			&::placeholder
				color #878787
			@media(max-width 630px)
				padding 0 vw(10)
				font-size vw(14)
				
		&--subscribe
			font-size 20px
			padding 0 10px
			height 41px
			background-color #fff
			
			@media(max-width 630px)
				font-size vw(20)
				height vw(41)
				padding 0 vw(12)
			
		&--textarea
			height 100%
			resize none
			@media(max-width 630px)
				height vw(133)
		&--textarea-comment
			background-color #ededed
			height 92px
			resize none
			width 100%
			border 1px solid #393939
			@media(max-width 630px)
				height vw(50)
		&--comment
			max-width 335px
			height 45px
			background-color #ededed
			font-size 25px
			padding 0 10px
			display block
			@media(max-width 630px)
				max-width 100%
				
	&__title
		font-size 25px
		color #393939
		font-weight 700
		@media(max-width 630px)
			font-size vw(18)
	&__alert
		font-size 20px
		color #c24b7e
		margin 15px 0
		@media(max-width 630px)
			font-size vw(14)
			margin vw(5) 0
		span
			font-weight 700
	&__label
		font-size 25px
		color #393939
		margin-bottom 15px
		display block
		@media(max-width 630px)
			font-size vw(14)
			margin-bottom vw(8)
		&--checkbox
			display inline-block
			position relative
			padding-right 30px
			margin-bottom 0
			margin-left 20px
			@media(max-width 630px)
				padding-right vw(30)
				margin-left vw(20)
			&:before
				content ""
				position absolute
				display block
				cursor pointer
				background-color #ededed
				width 25px
				height 25px
				border 1px solid #393939
				top 50%
				right 0
				transform translateY(-50%)
				@media(max-width 630px)
					width vw(19)
					height vw(19)
			&:after
				content ""
				position absolute
				display block
				cursor pointer
				background url(../img/icon-check.png) no-repeat center center
				background-size contain
				width 16px
				height 16px
				top 50%
				right 3px
				opacity 0
				transform translateY(-50%)
				transition 0.2s
				z-index 2
				@media(max-width 630px)
					width vw(15)
					height vw(15)
		&--file
			margin 0
			color #c24b7e
			border 1px solid #c24b7e
			padding 8px 40px
			display inline-flex
			align-items center
			justify-content center
			cursor pointer
			transition all .2s
			@media(max-width 630px)
				padding vw(5) vw(20)
			&:hover
				background-color #c24b7e
				color #fff
				
	&--comment
		border 1px solid #393939
		padding 25px 30px
		@media(max-width 630px)
			padding vw(15) vw(10)
	&--search-comments
		flex-grow 1
		padding-right 15px
		@media(max-width 998px)
			width 100%
		@media(max-width 630px)
			padding 0
	&__bottom
		display flex
		justify-content space-between
		@media(max-width 630px)
			flex-wrap wrap
		&-end
			display flex
			align-items flex-end
			@media(max-width 630px)
				width 100%
				justify-content center
	&--headersearch
		width 100%
	&--newsletter
		width 100%
		display flex
		align-items center
		justify-content space-between
		flex-wrap wrap
		margin-top 20px
		@media(max-width 630px)
			margin-top vw(14)
	&--contact
		display flex
		align-items stretch
		justify-content space-between
		flex-wrap wrap
		width 100%
	&--search
		max-width 885px
		margin 0 auto
		width 100%
		margin-top 35px
		@media(max-width 630px)
			margin-top vw(8)
	&--translate
		direction ltr
		
		.SumoSelect > .CaptionCont > span
		.SumoSelect > .CaptionCont > span
			font-size 18px
			line-height 1.2em

		.SumoSelect > .CaptionCont > label > i
			background-size contain
			height 9px
			width 9px

		.SelectBox
			padding 4px 8px

.SumoSelect
	display block
	width 100%
	direction ltr
	text-align start
	& > .CaptionCont
		border 1px solid #cccccc
		&[title=" English"]
			background-image url('../img/english.png');
			background-repeat no-repeat
			background-size 20px
			background-position 60px center
		&[title=" Hebrew"]
			background-image url('../img/hebrew.png');
			background-repeat no-repeat
			background-size 20px
			background-position 70px center