html
body
	font-family 'Assistant', sans-serif
	font-weight 500
body
	@media(max-width 630px)
		background-color #292c33
	&.header__active
		overflow hidden!important
		height 100%
		position fixed
		main
		footer
			transform translateX(-80vw)
	.site-wrap
		overflow hidden
.site-wrap
	display flex
	flex-direction column
	justify-content space-between
	min-height 100vh
img
	max-width 100%
main
	background-color #fff
main
footer
	transition all .2s
.hidden
	display none
	
vw(a)
	(a/3.2)vw
vwm(a)
	(a/7.64)vw
	
.svg
	transition all .2s
	&--white
		fill #fff
	&--gray
		fill #f0f0f0!important
	&--blue
		fill #74a2cc!important
	&--orange
		fill #ef6f14!important
	&--cyan
		fill #6bbbc1!important
	&--pink
		fill #ef8891!important
	&--green
		fill #7b8e4f!important
	&--cyan_dark
		fill #379384!important
	&--violet
		fill #a880a2!important
	&--darkpink
		fill #c24b7e!important
	&--darkgray
		fill #4f4f4f!important
	&--btn
		position absolute
		width 100%
		z-index -1
		top 0
		left 0
		width 100%
		height 100%
		transition all .2s
	&--sc-mail
		rect
			stroke #393939
		path
			fill #393939
		&:hover
			fill #f69100
			stroke #f69100
	&--sc-whatsapp
		&:hover
			fill #0B990F!important
	&--sc-pinteres
		&:hover
			fill #BB0907!important
	&--sc-google
		
		&:hover
			fill #DF0404!important
			
			.hover-stroke
				stroke #DF0404!important		

	&--sc-facebook
		&:hover
			fill #0164C2!important
		
	&--title
		position absolute
		z-index -1
		top 0
		left 0
		fill #c24b7e
		width 100%
		height 100%
	&--sound
		width 29px
		height 26px
		fill #fff
		

.video
	&:after
		content ''
		display block
		position absolute
		top 40%
		left 50%
		transform translate(-50%, -50%)
		width 65px
		height 65px
		background-image url('../img/svg/play_video_icon.svg')
		
.container
	max-width 1320px
	padding 0 15px
	margin 0 auto
	width 100%
	display flex
	flex-wrap wrap
	justify-content space-between
	height 100%
	z-index 2
	
	@media(max-width 630px)
		padding 0 vw(10)
	
	&--breadcrumbs
		max-width 1848px
		
		@media(max-width 630px)
			padding 0 vw(9)
		
	&--wide
		max-width 1820px
		@media(max-width 630px)
			padding 0 vw(9)
	&--header
		max-width 1820px
		@media(max-width 630px)
			padding 0 vw(10)
	&--header-inner
		max-width 1850px
		@media(max-width 630px)
			padding 0 vw(10)
	&--inner
		max-width 1590px
		padding-top 50px
		
		@media(max-width 630px)
			padding 0 vw(10)
			.aside--start
				order 2
	&--slider
		max-width 1490px
		@media(max-width 630px)
			padding 0
	
	

.title
	font-size 44px
	font-weight 600
	width 100%
	color #393939
	text-align center
	position relative
	z-index 2
	@media(max-width 998px)
		font-size 35px
	@media(max-width 630px)
		font-size vw(20)
	&--medium
		font-size 35px
		@media(max-width 630px)
			font-size vw(20)
	&__icon
		width 106px
		position absolute
		top 0
		left 50%
		transform translateX(-50%)
		@media(max-width 630px)
			width vw(51)
	&--icon
		position relative
		font-size 35px
		@media(max-width 630px)
			font-size vw(20)
		.line
			top 30%
	&--small
		font-size 35px
		@media(max-width 630px)
			font-size vw(20)

.h2
	display inline-block
	background-color #fff
	margin 0 auto
	padding 0 30px
	letter-spacing 0.01em
	@media(max-width 630px)
		padding 0 vw(10)
	&--gray
		background-color #f1f1f1
	&--pink
		color #c24a7d
	&--green
		color #7b8e4f
	&--state
		font-size 55px
		padding 0
		text-align right
		font-weight 700
		@media(max-width 998px)
			font-size 40px
		@media(max-width 630px)
			font-size vw(25)
			letter-spacing -0.01em
	&--icon
		padding-top 63px
		@media(max-width 630px)
			padding-top vw(27)
			
.line
	display block
	background-color #393939
	height 1px
	width 100%
	position absolute
	top 50%
	left 0
	transform translateY(-50%)
	z-index -1
	&--wide
		position static
		height 2px
		margin 15px 0
		@media(max-width 630px)
			margin vw(10) 0
	@media(max-width 630px)
		height 2px
		

strong
	font-weight 600

.js-img
	position relative
	overflow hidden
	& > img
		position absolute
		transform translate(-50%, -50%)
		top 50%
		left 50%
		width 100%
		display block
		max-width inherit

.border
	border 4px solid
	@media(max-width 630px)
		border 2px solid
	&--pink
		border-color #c24a7d
	&--green
		border-color #7b8e4f
	.title
		transform translateY(-60%)

// sections
	
.section
	background-color #fff
	background-size cover
	background-repeat no-repeat
	background-position 50% 50%
	height inherit
	&--grey,
	&--gray
		background-color #f1f1f1
	&--category
		padding 34px 0 67px
		@media(max-width 630px)
			padding vw(13) 0 vw(25)
			.title
				font-size vw(17.5)
	&--slider
		padding 68px 0
		@media(max-width 998px)
			padding 40px 0
		@media(max-width 630px)
			padding vw(13) 0 vw(20)
	&--slider-recommended
		padding 68px 0 85px
		@media(max-width 998px)
			padding 45px 0 60px
		@media(max-width 630px)
			padding vw(20) 0 vw(15)
	&--recommended
		padding 60px 0 83px
		@media(max-width 998px)
			padding 40px 0 60px
		@media(max-width 630px)
			padding vw(25) 0 vw(20)
	&--testimonial
		padding 110px 0 135px
		@media(max-width 998px)
			padding 70px 0 90px
		@media(max-width 630px)
			padding vw(20) 0 vw(30)
	&--newsletter
		padding 75px 0 72px
		@media(max-width 998px)
			padding 50px 0
		@media(max-width 630px)
			padding vw(20) 0 vw(30)
	&--share
		padding 134px 0 90px
		@media(max-width 998px)
			padding 85px 0 60px
		@media(max-width 630px)
			padding vw(35) 0 vw(40)
	&--share-post
		padding 62px 0 56px
		@media(max-width 998px)
			padding 45px 0 40px
		@media(max-width 630px)
			padding vw(35) 0 vw(40)
	&--contact
		padding 82px 0 71px
		@media(max-width 998px)
			padding 60px 0 55px
		@media(max-width 630px)
			padding vw(25) 0 vw(22)
	&--breadcrumbs
		padding 8px 0 15px
		@media(max-width 630px)
			padding vw(13) 0 vw(10)
	&--guides
		margin-top 45px
		padding-bottom 40px
		@media(max-width 998px)
			margin-top 35px
			padding-bottom 30px
		@media(max-width 630px)
			margin-top vw(50)
			padding-bottom vw(20)
	&--info
		padding 25px 0 70px
		@media(max-width 998px)
			padding 25px 0 50px
		@media(max-width 630px)
			padding vw(10) 0 vw(20)
	&--categories
		padding 19px 0 95px
		@media(max-width 998px)
			padding 15px 0 60px
		@media(max-width 630px)
			padding 0 0 vw(20)
	&--blocks
		padding 115px 0 90px
		@media(max-width 998px)
			padding 75px 0 50px
		@media(max-width 630px)
			padding vw(25) 0 vw(25)
			.container
				padding 0
	&--comments
		padding 20px 0 90px
		@media(max-width 998px)
			padding 20px 0 60px
		@media(max-width 630px)
			padding vw(20) 0 vw(45)
			.container
				padding 0
	&--outsidemenu
		padding 10px 0
		@media(max-width 630px)
			padding vw(7) 0
			border-bottom 1px solid #000
	
.show-sm
	@media(min-width 631px)
		display none !important
.hide-sm
	@media (max-width 630px)
		display none !important
.show-md
	@media (min-width 993px)
		display none !important
.hide-md
	@media (max-width 992px)
		display none !important
.show-lg
	@media (min-width 1201px)
		display none !important
.hide-lg
	@media (max-width 1200px)
		display none !important

.border
	width 100%

.ul
	&--breadcrumbs
		align-items center
		display flex
		flex-wrap wrap
		color #393939
		font-size 20px
		@media(max-width 630px)
			font-size vw(14)
		

.breadcrumbs
	&__item
		margin 0 10px
		font-size 20px
		@media(max-width 630px)
			font-size vw(14)
			margin 0 vw(6.2)
		a
			color #393939
			text-decoration underline
			&:hover
				color #ffba00
				text-decoration none
		span
			color #c24b7f

.content
	padding 0 40px
	width 10%
	flex-grow 1
	@media(max-width 998px)
		width 100%
		padding 0
		
// tabs fix
.tabs--slider .ui-widget-content[aria-hidden="true"]
	display block !important
	height 0px
	overflow hidden

.tabs--slider .ui-widget-content[aria-hidden="false"]
	display block !important
	height auto
	
.sr-only
	position absolute
	width 1px
	height 1px
	padding 0
	margin -1px
	overflow hidden
	clip rect(0, 0, 0, 0)
	border none


.tabs__list
	display flex
	align-items center
	justify-content center
	font-size 25px
	margin-bottom 25px
	margin-top 12px
	width 100%
	@media(max-width 630px)
		font-size vw(14)
		margin-bottom vw(15)
	&--comments
		margin-top 28px
	a
		display inline-block
		text-align center
		color #393939
		font-size 25px
		@media(max-width 630px)
			font-size vw(14)
		&:hover
			color #c24b7e
		&:after
			content attr(data-text)
			display block
			font-weight bold
			height 0
			overflow hidden
			visibility hidden
	li
		display inline-block
		font-size 0
		position relative
		padding 0 20px
		@media(max-width 630px)
			padding 0 vw(7)
		&:not(:first-child)
			&:before
				content '|'
				position absolute
				top 50%
				transform translateY(-50%)
				right 0
				color #393939
				font-size 25px
				@media(max-width 630px)
					font-size vw(14)
		&.ui-tabs-active
			font-weight 600
			a
				color #c24b7e
				font-weight bold
	
	&--categories
		display flex
		align-items center
		justify-content center
		flex-wrap wrap
		li
			position relative
			padding 0 17px
			display inline-block
			font-size 0
			@media(max-width 630px)
				padding 0 vw(10)
			&:not(:first-child)
				&:before
					font-size 35px
					font-weight 500
					@media(max-width 630px)
						font-size vw(16)
			a
				display inline-block
				text-align center
				font-size 35px
				color #393939
				&:hover
					color #ffba00
				&:after
					content attr(data-text)
					display block
					font-weight 700
					height 0
					overflow hidden
					visibility hidden
				@media(max-width 630px)
					font-size vw(16)
			&.ui-state-active
				font-weight 700
				&:after
					content url('../img/svg/arrow_down.svg')
					position absolute
					display inline-block
					width 20px
					height 30px
					background-size cover
					bottom -45px
					left 50%
					transform translateY(-50%)
					@media(max-width 998px)
						content none
				a
					color #c24a7d
					font-weight 700				

.js-new-comment
	display none

.timer
	display inline-block
	font-size 25px
	line-height 35px
	text-align center
	margin-top 15px
	min-width 280px
	width auto
	@media (max-width 630px)
		min-width vw(200)
		width auto
		font-size vw(14)
		margin-top vw(6.2)

	&__btn
		align-items center
		background-color #7b8d4f
		background-image url('../img/svg/timer_button.svg')
		background-position right 3px center
		background-repeat no-repeat
		color #ffffff
		cursor pointer
		font-size 25px
		line-height 1.2em
		padding 8px 55px 8px 15px
		text-align right
		width 100%
		@media (max-width 992px)
			font-size vw(14)
		
		&:hover
			background-color darken(#7b8d4f, 10%)
	
	&__body
		align-items center
		background-color #7b8d4f
		color #ffffff
		display none
		padding 7px 20px
		position relative
		@media(max-width 630px)
			padding vw(5) vw(15)
	
	&__pause-btn
		cursor pointer
		display block
		height 22px
		position relative
		width 22px
		
		&:before,
		&:after
			background-color #fff
			content ''
			display block
			height 100%
			position absolute
			top 0
			width 9px
			
		&:before
			left 0
		
		&:after
			right 0
		
		&:hover
			opacity 0.8
			
		&.paused
			
			&:before
				background-color transparent
				border-color transparent transparent transparent #ffffff
				border-style solid
				border-width 11px 0 11px 22px
				height 0
				width 0
			
			&:after
				display none
	&__title
		@media(max-width 630px)
			font-size vw(15)
	&__close-btn
		cursor pointer
		font-size 47px
		line-height 1
		position absolute
		right 7px
		top -4px
		transform rotate(45deg)
		
		&:hover
			opacity 0.8

	&__counter
		font-size 35px
		line-height 32px
		@media(max-width 630px)
			font-size vw(20)
			line-height inherit
		
	&.paused &__counter
		animation blink 1s infinite;
		color #ffff55

	&__nav
		display flex
		justify-content space-between
		padding 12px 0 6px
		
	&__timeline
		background-color #fff
		height 4px
		margin-top 11px
		width 100%
		@media(max-width 630px)
			margin-top vw(5)
	
	&__timeline-bar
		background-color #393939
		display block
		height 100%
		margin-right auto
		width 0
	
	&.paused &__timeline-bar
		background-color #aaaa44
	&__mute
		.svg--unmuted
			display none
		.svg--muted
			display inline-block
		&.active
			.svg--unmuted
				display inline-block
			.svg--muted
				display none
@keyframes blink

	0% 
		opacity 0
		
	49%
		opacity 0
		
	50% 
		opacity 1

			
.share
	display flex
	align-items stretch
	justify-content center
	width 100%
	padding 35px 0 67px
	@media(max-width 998px)
		flex-wrap wrap
	@media(max-width 630px)
		padding vw(5.5) 0 vw(10)
	&__item
		max-width 200px
		width 100%
		display flex
		flex-direction column
		position relative
		@media(max-width 998px)
			max-width 31%
			margin-top vw(7)

		&--small
			max-width 105px
			@media(max-width 998px)
				max-width 33%
		&--gallery
			min-width 50px
			max-width 50px
			margin-right 25px
			margin-top 0
			&:hover
				.share__title
					opacity 1
					visibility visible
			@media(max-width 630px)
				min-width 25%
				max-width 25%
				margin 0
		&--modal
			max-width 95px
			min-width 95px
			@media(max-width 630px)
				max-width 33%
				min-width 33%
		&:hover
			.share__img
				opacity 0
				visibility hidden
				&--hover
					opacity 1
					visibility visible
	&__img_wrap
		height 70px
		width auto
		position relative
		@media(max-width 630px)
			height vw(32)
		&--small
			height 35px
		@media(max-width 630px)
			height vw(28)
		&--gallery
			height 36px
			width auto
			@media(max-width 630px)
				height vw(26)
		&--modal
			height 37px
			@media(max-width 630px)
				height vw(26)
	&__img
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		height 100%
		transition all .2s
		&--hover
			opacity 0
			visibility hidden
	&__title
		margin-top 15px
		font-size 30px
		color #393939
		text-align center
		font-weight 600
		@media(max-width 630px)
			font-size vw(14)
			margin-top vw(8)
		&--small
			font-size 17px
			margin-top 10px
			@media(max-width 630px)
				font-size vw(12)
		&--hover
			font-size 18px
			color #fff
			padding 8px 15px 10px
			position absolute
			z-index 9
			left 50%
			transform translateX(-50%)
			bottom calc(100% + 10px)
			margin 0
			white-space nowrap
			opacity 0
			visibility hidden
			transition all .2s
			margin-bottom 9px
			&:after
				content ''
				border 6px solid transparent
				border-top 5px solid #c24b7e
				background-color transparent
				position absolute
				bottom -11px
				left 50%
				transform translate(-50%)
		&--modal
			font-size 20px
			font-weight 700
			width 100%
			margin 0
			@media(max-width 630px)
				font-size vw(18)
	&__container
		display flex
		align-items center
		justify-content space-between
		margin-top 20px
		@media(max-width 630px)
			flex-wrap wrap
			justify-content center
	&--gallery
		justify-content flex-end
		padding 10px 0
		@media(max-width 630px)
			padding vw(10) 0
	&--post
		justify-content space-between
		padding 10px 19px 42px
	&--modal
		display inline-flex
		width inherit
		border 5px solid #393939
		flex-wrap wrap
		padding 12px 15px 20px
		max-width 540px
		@media(max-width 630px)
			max-width 100%

.outside_menu
	width 100%
	&__list
		display flex
		justify-content center
		align-items center
		width 100%
		@media(max-width 998px)
			font-size 20px
		@media(max-width 630px)
			font-size vw(15)
	&__item
		&:not(:first-child)
			.outside_menu__link
				&:before
					content ' | '
					font-size vw(15)
					margin 0 5px
					color #292c33
					font-weight 700
					display inline-block
					@media(max-width 998px)
						font-size 20px
					@media(max-width 630px)
						font-size vw(15)
	&__link
		color #292c33
		font-weight 700
		display inline-block
		&:hover
			color #c24a7d

.remodal
	&--search
		background-color #f1f1f1
		border 1px solid #404040
		
		@media(max-width 630px)
			padding vw(50) vw(15) vw(10)