.header
	background-color #f1f1f1
	position relative
	z-index 99
	background-repeat no-repeat
	@media(max-width 992px)
		padding-bottom vw(49)
		background-color transparent
		transition all .2s
	
	&__expand
		@media(max-width 992px)
			width vw(25)
			height vw(18)
			position relative
			z-index 999
			cursor pointer
			&-span
				width vw(25)
				height vw(3)
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				background-color #fff
				display block
				&:before
				&:after
					content ''
					position absolute
					width vw(25)
					height vw(3)
					display block
					left 50%
					background-color #fff
					transform translateX(-50%)
				&:before
					top vw(-7)
				&:after
					top vw(7)
			&--close
				.header__expand-span
					background-color transparent
					&:before
						top 50%
						transform translate(-50%, -50%) rotate(-135deg)
					&:after
						top 50%
						transform translate(-50%, -50%) rotate(135deg)
				
	&__top
		width 100%
		display flex
		align-items center
		justify-content space-between
		&-wrap
			@media(max-width 992px)
				border none
				height vw(49)
				position fixed
				width 100%
				background-image url("../img/header.png")
				background-size cover
				background-repeat no-repeat
				transition all .2s
		&-admin
			display flex
			align-items center
			font-size 22px
			color #fff
			@media(max-width 992px)
				margin vw(10) 0
				padding 0 vw(35)
				font-size vw(16)
		&-icon
			width 35px
			height 35px
			border-radius 50%
			overflow hidden
			@media(max-width 992px)
				width vw(27)
				min-width vw(27)
				height vw(27)
				min-height vw(27)
		&-link
			font-size 22px
			color #fff
			margin 0 10px
			position relative
			&:hover
			&:focus
				text-decoration underline
			@media(max-width 992px)
				background-color #be487a
				padding 4px 15px
				font-size vw(16)
				&:before
					content ''
					border 5px solid transparent
					border-left 5px solid #be487a
					position absolute
					display block
					right -10px
					top 50%
					transform translateY(-50%)
		&-button
			font-size 22px
			color #fff
			margin 0 10px
			position relative
			&:hover
			&:focus
				text-decoration underline
			@media(max-width 992px)
				background-color #be487a
				padding 4px 15px
				font-size vw(16)
				&:before
					content ''
					border 5px solid transparent
					border-left 5px solid #be487a
					position absolute
					display block
					right -10px
					top 50%
					transform translateY(-50%)
		&-search_link
			display none
		&-start
		&-end
			width 26.5%
			@media(max-width 992px)
				width 100%
		&-center
			width 47%
			@media(max-width 992px)
				width 100%
		&-start
			display flex
			justify-content flex-start
			align-items center
			padding 0 18px 12px 0
			@media(max-width 992px)
				padding 0
		&-center
			display flex
			align-items center
			justify-content center
			padding 10px 0 0 13px
			@media(max-width 992px)
				padding 0
		&-end
			display flex
			justify-content flex-end
			align-items center
			padding-bottom 12px
			@media(max-width 992px)
				padding 0
				.header__top-link
					display none
				.header__top-search_link
					display block
					img
						display block
						width vw(21)
						height vw(21)
						&.hover
							display none
					&:hover
						img
							display none
							&.hover
								display block
	&__main-wrap
		position relative
		transition all .2s
		@media(max-width 992px)
			position absolute
			transform translateX(80vw)
			width 80vw
			height 100vh
			top 0
			overflow-y auto
			background-color #292c33
			position fixed
	&__search
		&-button
			img
				display block
				&.hover
					display none
			@media(max-width 992px)
				font-size vw(16)
				width vw(79)
				height vw(28)
				display inline-flex
				align-items center
				justify-content center
				border 1px solid #fff
				color #fff
				img
					margin-right vw(10)
					width vw(20)
					height vw(20)
			&:hover
				img
					display none
					&.hover
						display block
	&__main
		max-width 1320px
		padding 0 15px
		margin 0 auto
		width 100%
		display flex
		justify-content space-between
		height auto
		z-index 2
		overflow-y auto
		@media(max-width 992px)
			overflow-y auto
			flex-direction column
			padding vw(50) 0
		&-top
			height vw(49)
			position absolute
			top 0
			left 0
			width 100%
			padding vw(15)
			display flex
			justify-content space-between
			align-items center
		&-logo
			display none
			visibility hidden
			opacity 0
			margin-left 15px
			img
				min-width 201px
				width 201px
				height 49px
				
		&-search
			width 400px
			min-width 300px
			margin-right 15px
			display none
			visibility hidden
			opacity 0
		&-footer
			display none
			@media(max-width 992px)
				display block
				border-top 1px solid #fff
				margin 0 vw(35)
				padding-top vw(5)
				a
					font-size vw(16)
					color #fff
					display block
					&:hover
						color #c24b7e
					
	&__nav
		display flex
		width 100%
	&__ul
		display flex
		width 100%
		justify-content space-between
		align-items center
		font-size 30px
		@media(max-width 1200px)
			font-size 22px
		@media(max-width 992px)
			flex-direction column
			align-items flex-start
			font-size vw(18)
		li
			&.bold
				a
					color #ffba00
					&:hover
						font-weight 600
						color #c24a7d
		a
			transition color .2s
			color #ffffff
			&:hover
				font-weight 600
				color #c24a7d
	&__logo
		width 294px
		@media(max-width 992px)
			width vw(128)
	&__link
		@media(min-width 993px)
			display inline-block
			text-align center
			&:after
				content attr(data-text)
				display block
				font-weight 700
				height 0
				overflow hidden
				visibility hidden
	&__item
		height 100%
		padding 10px 0 17px
		display inline-flex
		justify-content center
		align-items center
		@media(max-width 992px)
			flex-wrap wrap
			justify-content flex-start
			height auto
			width 100%
			padding 0
		&.menu-item-has-children
			@media(max-width 992px)
				.header__link
					&:after
						content ''
						display inline-block
						border solid #fff
						border-width 0 2px 2px 0
						padding vw(6)
						transform rotate(45deg)
						transition all .2s
					&:hover
						&:after
							border solid #c24a7d
							border-width 0 2px 2px 0
						
		&.open
			.dropdown__wrap
				opacity 1
				transform rotateX(0deg)
				pointer-events all
			&.menu-item-has-children
				.header__link
					&:after
						border solid #c24a7d
						border-width 0 2px 2px 0
	&__link
		@media(max-width 992px)
			display flex
			justify-content space-between
			align-items center
			width 100%
			padding vw(7) vw(35)
	.dropdown__wrap
		left 0
		position absolute
		width 100vw
		top 100%
		z-index 99
		background-color #292c33
		color #fff
		font-size 25px
		padding 50px 0 20px
		opacity 0
		transform rotateX(-90deg)
		transform-origin top
		transition-timing-function ease
		transition-duration .2s
		transition-property opacity, transform, -webkit-transform
		pointer-events none
		@media(max-width 992px)
			position static
			width 100%
			padding 0
			display none
			background-color #34373d
			.container
				padding 0
	.dropdown
		&__menu
			display flex
			justify-content space-between
			width 100%
			@media(max-width 992px)
				flex-wrap wrap
			&-col
				@media(max-width 992px)
					width 100%
			&-item
				&--new
					position relative
					display flex
					align-items center
					&:after
						content 'חדש'
						background url('../img/new_label.png')
						width 42px
						height 21px
						margin-right 10px
						display flex
						align-items center
						justify-content center
						background-repeat no-repeat
						background-size cover
						font-size 15px
						font-weight 700
						color #292c33
						@media(max-width 992px)
							font-size vw(11)
							margin-right vw(6)
							width vw(40)
							height vw(20)
				@media(max-width 992px)
					padding vw(7) 0
			&-title
				color #c24a7d
				position relative
				margin-bottom 15px
				pointer-events none
				@media(min-width 993px)
					display block
				@media(max-width 992px)
					font-size vw(18)
					margin 0
					color #fff
					cursor pointer
					padding vw(7) vw(45) vw(7) vw(35)
					width 100%
					display flex
					align-items flex-start
					justify-content space-between
					pointer-events auto
					&:after
						content ''
						display inline-block
						border solid #fff
						border-width 0 2px 2px 0
						padding vw(6)
						transform rotate(45deg)
						transition all .2s
					&:hover
						color #c24a7d
						&:after
							border solid #c24a7d
							border-width 0 2px 2px 0
				&:before
					content url('../img/svg/underline_title_pink.svg')
					width 67px
					height 3px
					display block
					position absolute
					bottom 15px
					right 0
					@media(max-width 992px)
						content none
				&.open
					@media(max-width 992px)
						&.menu-item-has-children
							&:after
								content ''
								display inline-block
								border solid #fff
								border-width 0 2px 2px 0
								padding vw(6)
								transform rotate(45deg)
								transition all .2s
							&:hover
								color #c24a7d
								&:after
									border solid #c24a7d
									border-width 0 2px 2px 0
			&-list
				@media(max-width 992px)
					display none
					background-color #41444b
					padding 0 vw(55) 0 vw(35)
			&-link
				font-size 25px
				color #fff
				&:hover
					color #c24a7d
				@media(max-width 992px)
					font-size vw(18)
				@media(min-width 993px)
					display inline-block
					text-align center
					&:after
						content attr(data-text)
						display block
						font-weight 700
						height 0
						overflow hidden
						visibility hidden
		&__footer
			width 100%
			border-top 1px solid #fff
			margin-top 20px
			padding-top 15px
			display flex
			align-items center
			justify-content center
			font-size 25px
			color #fff
			a
				color #ffba00
				font-size 25px
				&:hover
					color #c24a7d
			@media(max-width 992px)
				display none
	&__social
		display none
		@media(max-width 992px)
			display flex
			margin-top vw(10)
			&-item
				background-color #ffffff
				display flex
				align-items center
				justify-content center
				border-radius 50%
				width vw(27)
				height vw(27)
				margin 0 vw(5)
				&:hover
					.header__social
						&-link
							i
								color #c24b7e
			&-link
				font-size vw(16)
				i
					transition all .2s
					color #000
	&.fixed
		@media(min-width 993px)
			.header__main-wrap
				background-image url('../img/header.png')
				position fixed
				top 0
				left 0
				right 0
				width 100%
				margin 0 auto
				transition all .5s ease
				border-bottom 1px solid #404349
				height 81px
				z-index 10
			.header__main
				max-width 1840px
				&-logo
				&-search
					display flex
					align-items center
					justify-content center
					visibility visible
					opacity 1
			.header__nav
				max-width 768px
			.header__ul
				font-size 20px
				
	&--page-inner
		padding-bottom 0
	&__bg
		background-image url('../img/header.png')
		background-size cover
		
		&--page-inner
			padding-bottom 24px
			@media(max-width 992px)
				padding-bottom vw(49)
	
	&__search
		margin 0 auto
		max-width 878px
		width 100%
		
		&--overlay
			margin-top -24px

.homepage
	.header
		&__top
			padding 8px 0 10px
			@media(max-width 992px)
				padding 0
				width vw(25)
			&-wrap
				border-bottom 1px solid rgba(255, 255, 255, .26)
			&-admin
				margin-left 10px
			&-end
				padding 0
			&-start
				padding 0
		&__item
			padding 10px 0
	@media(max-width 992px)
		.header
			padding 0
			background-image none
			&__top
				&-wrap
					width 0
					background-image none
			&__expand
				&--open
					.header__expand-span
						background-color #000
						&:before
						&:after
							background-color #000

.header__active
	.header
		&__top
			&-wrap
				transform translateX(-80vw)
		&__main
			&-wrap
				transform none