.category
	display flex
	flex-wrap wrap
	justify-content space-between
	width 100%
	margin-top 60px
	@media(max-width 630px)
		margin-top vw(15)
	&__tabs
		width 100%
		margin-top 40px
		@media(max-width 630px)
			margin-top vw(15)
	&__item
		width 32%
		height 274px
		margin-bottom 40px
		position relative
		transition all .2s
		&:hover
			opacity 0.5
		@media(max-width 998px)
			width 48%
			height 230px
		@media(max-width 630px)
			height vw(96)
			margin-bottom vw(9)
			&:last-child
				display none
	&__image
		width 100%
		height 100%
	&__strip
		width 253px
		@media(max-width 630px)
			width vw(113)
	&__title
		font-size 30px
		color #fff
		display flex
		align-items center
		justify-content center
		position absolute
		bottom -20px
		left 50%
		transform translateX(-50%)
		p
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 100%
			text-align center
		@media(max-width 998px)
			font-size 25px
			bottom -30px
		@media(max-width 630px)
			font-size vw(14)
			height vw(25)
			bottom vw(10)
	&__more
		margin-top 48px
		@media(max-width 630px)
			margin-top vw(15)

.new
	width 100%
	&__more
		margin-top 70px
		@media(max-width 998px)
			margin-top 40px
		@media(max-width 630px)
			margin-top vw(18)
	
	
.recommended
	display flex
	justify-content space-between
	align-items stretch
	width 100%
	margin-top 69px
	@media(max-width 998px)
		flex-wrap wrap
	@media(max-width 630px)
		margin-top vw(20)
	&__item
		height 252px
		max-width 300px
		margin 0 10px
		width 100%
		&:hover
			opacity 0.5
		&:first-child
			margin-right 0
		&:last-child
			margin-left 0
		@media(max-width 998px)
			width 48%
			height 250px
			margin 0
			margin-bottom 20px
			max-width inherit
		@media(max-width 630px)
			margin 0
			height vw(120)
			margin-bottom vw(16)
			
	&__title
		position absolute
		bottom 0
		left 0
		width 100%
		height 61px
		font-size 25px
		color #393939
		text-align center
		padding 0 10px
		display flex
		align-items center
		justify-content center
		z-index 1
		@media(max-width 630px)
			font-size vw(14)
			padding 0
			line-height 0.8
			height vw(29)
		span
			position relative
	&__corner
		width 19px
		height 19px
		position absolute
		bottom 5px
		left 6px
		z-index 1
		@media(max-width 630px)
			width vw(9)
			height vw(9)
			bottom vw(3)
			left vw(3)
	&__underline
		position absolute
		bottom -5px
		right -3px
		width 60px

	&__background
		position absolute
		bottom 0
		left 0
		max-width inherit
		height 61px
		z-index -1
		@media(max-width 630px)
			height vw(29)
			left 50%
			transform translateX(-50%)
	&__more
		margin-top 76px
		@media(max-width 998px)
			margin-top 40px
		@media(max-width 630px)
			margin-top vw(24)

.testimonial
	display flex
	flex-wrap wrap
	justify-content flex-end
	width 100%
	&__start
		width 43%
		display flex
		justify-content center
		align-items center
		@media(max-width 630px)
			width 100%
	&__end
		width 51%
		@media(max-width 630px)
			width 100%
	&__content
		max-width 510px
		width 100%
		padding-top 40px
		@media(max-width 630px)
			padding-top vw(15)
			max-width inherit
	&__title
		font-size 45px
		color #c24a7d
		line-height 1
		font-weight 700
		@media(max-width 998px)
			font-size 35px
		@media(max-width 630px)
			text-align center
			font-size vw(22.5)
	&__text
		font-size 25px
		color #393939
		@media(max-width 998px)
			font-size 18px
		@media(max-width 630px)
			line-height 1.3
			font-size vw(14)
			text-align center
			padding 0 vw(15)

	&__sign
		margin-left 0
		margin-right auto
		display inherit
		margin-top 45px
		@media(max-width 630px)
			display none
	&__image
		border-radius 50%
		width 420px
		height 420px
		@media(max-width 998px)
			width 220px
			height 220px
		@media(max-width 630px)
			width vw(122)
			height vw(122)
	&__image-wrap
		position relative
		display inline-block
		margin 0 auto
	&__bg
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 425px
		height 415px
		@media(max-width 998px)
			width 225px
			height 215px
		@media(max-width 630px)
			width vw(128)
			height vw(123)

.newsletter
	width 100%
	margin-top 60px
	@media(max-width 998px)
		margin-top 30px
	@media(max-width 630px)
		margin-top vw(15)

.contact
	width 100%
	margin-top 55px
	@media(max-width 998px)
		margin-top 30px
	@media(max-width 630px)
		margin-top vw(16)