.post
	@media(max-width 630px)
		padding-top vw(7)
	&__data		
		display flex
		align-items center
		font-size 25px
		color #393939
		margin-top 23px
		@media(max-width 998px)
			font-size 22px
		@media(max-width 630px)
			font-size vw(12)
			margin-top vw(15)
		&-avatar
			width 80px
			height 80px
			overflow hidden
			border-radius 50%
			margin-left 15px
			@media(max-width 630px)
				width vw(42)
				height vw(42)
				margin-left vw(10)
	&__subtitle
		font-size 25px
		color #393939
		font-weight 700
		margin-top 15px
		line-height 1.4
		@media(max-width 998px)
			font-size 22px
		@media(max-width 630px)
			font-size vw(14)
			line-height 1.3
			margin-top vw(6)
	&__gallery
		margin-top 31px
		@media(max-width 998px)
			margin-top 20px
		@media(max-width 630px)
			margin-top vw(10)
		&-slider__slide
			&-contain
				background-repeat no-repeat
				background-size cover
				background-position 50% 50%
				height 655px
				position relative
				@media(max-width 630px)
					height vw(200)
	&__share
		margin-top 30px
		@media(max-width 998px)
			margin-top 20px
		@media(max-width 630px)
			margin-top vw(10)
	&__text
		font-size 25px
		color #393939
		line-height 1.8
		strong
			font-size 35px
			font-weight 700
			line-height 1.55
			@media(max-width 998px)
				font-size 32px
		p
			&:not(:first-child)
				margin-top 36px
		@media(max-width 998px)
			line-height 1.4
			font-size 22px
		@media(max-width 630px)
			margin-top vw(20)
			font-size vw(14)
			line-height 1.2
			strong
				font-size vw(18)
			p
				&:not(:first-child)
					margin-top vw(20)
	&-navigation
		display flex
		justify-content space-between
		font-size 25px
		margin-top 35px
		@media(max-width 630px)
			font-size vw(14)
			margin-top vw(25)
		a
			text-decoration underline
			color #393939
			display inline-flex
			align-items center
			&:hover
				text-decoration none
		img
			width 17px
			height 20px
			@media(max-width 630px)
				width vw(9)
				height vw(10)
	&-next
		img
			margin-right 15px
			@media(max-width 630px)
				margin-right vw(6.2)
	&-previous
		img
			margin-left 15px
			@media(max-width 630px)
				margin-left vw(6.2)

.after_post
	color #393939
	font-size 25px
	@media(max-width 630px)
		font-size vw(14)
	&__title
		font-size 35px
		font-weight 600
		margin-bottom 25px
		@media(max-width 630px)
			font-size vw(17.5)
			margin-bottom vw(10)
	a
		color #c24b7e
		margin 0 7px
		text-decoration underline
		@media(max-width 630px)
			margin 0 vw(7)
		&:hover
			text-decoration none
	&__category
		margin-top 19px
		@media(max-width 630px)
			margin-top vw(10)

.guides
	width 100%
	&__image
		height 190px
	&__slider
		@media(max-width 630px)
			width 100vw
			margin-right vw(-10)

.comments
	width 100%
	&__top
		display flex
		align-items center
		justify-content space-between
		margin-top 33px
		@media(max-width 998px)
			flex-wrap wrap
	&__bottom
		display flex
		justify-content space-between
		width 100%
	&__answer
		font-size 20px
		font-weight 700
		color #000000
		display inline-flex
		align-items center
		@media(max-width 630px)
			font-size vw(14)
		img
			margin-right 5px
			width 28px
			@media(max-width 630px)
				width vw(20)
				margin-right vw(5)
	&__answers
		padding-right 80px
		@media(max-width 630px)
			padding-right vw(33)
	&__item
		display flex
		margin-bottom 26px
		position relative
		@media(max-width 630px)
			margin-bottom vw(15)
	&__content
		margin-top 36px
		@media(max-width 630px)
			margin-top vw(20)
	&__add_new
		width 280px
		font-size 25px
		color #fff
		&.active
			svg
				fill #c24a7d!important
		@media(max-width 998px)
			order 2
			margin 0 auto
		@media(max-width 630px)
			font-size vw(18)
			width vw(193)
			padding vw(5) vw(30) vw(5) vw(10)
			margin-top vw(10)
	&__body
		display flex
		background-color #ededed
		border 1px solid #b7b7b7
		padding 7px 20px 5px 15px
		flex-wrap wrap
		font-size 25px
		color #393939
		position relative
		@media(max-width 630px)
			padding vw(9) vw(8) vw(7)
			font-size vw(14)
		&:before
		&:after
			content ''
			display block
			position absolute
			left 100%
			width 0
			height 0
			border-style solid
		&:after
			top 15px
			border-color:transparent transparent transparent #ededed
			border-width 10px
			@media(max-width 630px)
				top vw(7.2)
				border-width vw(6.4)
		&:before
			top 14px
			border-color transparent transparent transparent #b7b7b7
			border-width 11px
			@media(max-width 630px)
				top vw(6.4)
				border-width vw(7.6)
		&--sub
			background-color #f7f7f7
			&:after
				border-color:transparent transparent transparent #f7f7f7
	&__avatar
		margin-left 30px
		@media(max-width 630px)
			margin-left vw(8)
	&__img
		min-width 50px
		width 50px
		min-height 50px
		height 50px
		border-radius 50%
		overflow hidden
		@media(max-width 630px)
			min-width vw(25)
			min-height vw(25)
			width vw(25)
			height vw(25)
	&__data
		width 100%
		font-size 20px
		font-weight 700
		color #393939
		@media(max-width 630px)
			font-size vw(11)
		span
			font-weight 500
			font-size 18px
			@media(max-width 630px)
				font-size vw(11)
	&__text
		width 100%
		margin-top 4px
	&__reply
		font-size 20px
		color #c24b7e
		font-weight 700
		display inline-block
		text-decoration underline
		margin-top 5px
		@media(max-width 630px)
			font-size vw(14)
			margin-top vw(6)
			font-weight 900
	&__new
		width 100%
		@media(max-width 998px)
			margin-top vw(15)
	&__readmore
		display block
		margin 0 auto
		margin-top 20px
		font-size 28px
		font-weight 700
		text-decoration underline
		color #c24c7f
		text-align center
		&:hover
			text-decoration none
		@media(max-width 630px)
			font-size vw(18)
			margin-top vw(30)
			