.resipes
	&__header
		display flex
		align-items stretch
		border-bottom 2px solid #393939
		padding-bottom 24px
		color #393939
		font-size 20px
		@media(max-width 998px)
			font-size 16px
		@media(max-width 630px)
			flex-wrap wrap
			font-size vw(15)
			padding-bottom vw(7)
		&-col
			text-align center
			padding 0 30px
			&:not(:first-child)
				border-right 2px solid #393939
				@media(max-width 630px)
					border none
			@media(max-width 998px)
				padding 0 15px
			@media(max-width 630px)
				padding 0 vw(10)
				margin vw(8) 0
				text-align right
				&:not(:nth-child(even))
					padding-right 0
				&:not(:nth-child(odd))
					padding-left 0
					border-right 1px solid #393939
			span
				display block
				font-size 30px
				@media(max-width 998px)
					font-size 20px
				@media(max-width 630px)
					font-size vw(15)
					display inline
			&:first-child
				padding-right 0
				font-weight 900
				
	&__content
		font-size 25px
		color #393939
		@media(max-width 630px)
			font-size vw(15)
		i
			color #7b8e4f
			font-size 25px
			font-family 'FbBegale'
			font-weight 600
			@media(max-width 630px)
				font-size vw(15)
		h4
			margin-top 40px
			color #7b8e4f
			font-size 35px
			@media(max-width 630px)
				font-size vw(20)
				margin-top vw(25)
		p
			margin-top 20px
			@media(max-width 630px)
				margin-top vw(6.2)
		strong
			font-weight 700
		a
			color #c24b7e
			text-decoration underline
			&:hover
				text-decoration none
		li
			margin 10px 0
			@media(max-width 630px)
				margin vw(5) 0
	&__share
		display flex
		justify-content space-between
		flex-wrap wrap
		@media(max-width 630px)
			margin-top vw(10)
		&-start
			display flex
			align-items center
			font-size 25px
			color #393939
			@media(max-width 630px)
				font-size vw(15)
			img
				margin-left 15px
				width 37px
				@media(max-width 630px)
					display none