html[dir=rtl]
	.slider
		display flex
		.slick-prev
			right 0
			background url('../img/svg/arrow_right_new.svg')
			background-size cover
			background-repeat no-repeat
			width 44px
			height 54px
			&:hover
				background url('../img/svg/arrow_right_new_hov.svg')
				background-size cover
				background-repeat no-repeat
		.slick-next
			left 0
			background url('../img/svg/arrow_left_new.svg')
			background-size cover
			background-repeat no-repeat
			width 44px
			height 54px
			&:hover
				background url('../img/svg/arrow_left_new_hov.svg')
				background-size cover
				background-repeat no-repeat

		&--new
			margin-top 96px
			padding 0 80px
			.slick-prev
			.slick-next
				top 40%
			@media(max-width 630px)
				padding 0
				overflow-x auto
				margin-top vw(9.6)
				
		&--guides
			padding 0 20px
			.slick-prev
			.slick-next
				top calc(50% - 20px)
				width 22px
				height 28px
			@media(max-width 630px)
				padding 0
				overflow-x auto
			
		&--post
			width 100%
			position relative
			height 100%
		&--resipe
		&--post
			display block
			.slick-dots
				li
					margin 0 4px
					&.slick-active
						button
							&:before
								background-color #000
					button
						&:before
							background-color #fff
							border 1px solid #000
		&--resipes
			display block
			height 100%
			width 100%
.slide
	width 25%
	align-items stretch
	display flex
	position relative
	flex-direction column
	padding-top 14px
	&__bg
		&--new
			position absolute
			top 8px
			left 50%
			transform translateX(-50%)
			z-index 99
			height 295px
			width 295px
			transition all .3s
			@media(max-width 1400px)
				width 175px
				height 175px
				top 11px
			@media(max-width 630px)
				height vw(118)
				width vw(118)
				top vw(11)
	&__image-wrap
		width 100%
		height 100%
		&--new
			overflow hidden
			border-radius 50%
			width 273px
			height 273px
			margin 0 auto
			@media(max-width 1400px)
				width 170px
				height 170px
			@media(max-width 630px)
				width vw(113)
				height vw(113)
		&--guide
			height 189px
			width 100%
			@media(max-width 630px)
				height vw(95)
	&__image
		&--gallery
			height 100%
			left 0
			opacity 0
			position absolute
			top 0
			visibility hidden
			width 100%
		&--new
			border-radius 50%
	&__title
		&--new
			font-size 30px
			margin-top 31px
			color #393939
			text-align center
			@media(max-width 1400px)
				font-size 25px
			@media(max-width 630px)
				font-size vw(14)
				margin-top vw(9)
		&--caption
			position absolute
			bottom 38px
			left 35px
			background-color rgba(255,255,255,0.7)
			font-size 20px
			color #000000
			text-align center
			padding 8px 10px 10px
			@media(max-width 998px)
				bottom 90px
				left 20px
			@media(max-width 630px)
				display none
		&--guide
			text-align center
			font-size 25px
			color #393939
			margin-top 4px
			@media(max-width 630px)
				font-size vw(14)
				margin-top 1vw
	&--new
		@media(max-width 630px)
			padding-top vw(14)
			margin 0 vw(10)
			width vw(113)
	&--guide
		padding 0 10px
		&:hover
			opacity 0.5
		@media(max-width 630px)
			min-width vw(143)
			width vw(143)
			padding 0
			margin 0 vw(4.5)

	&--post
		background-repeat no-repeat
		background-size cover
		background-position 50% 50%
		height 100%
		width 100%
		position relative

	&--resipes
		height 768px
		position relative
		img
			position absolute
			height 100%
			min-width 100%
			top 50%
			left 50%
			transform translate(-50%, -50%)